{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>Home - gplant</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="../static/assets/images//favicon.ico" />

	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" href="../static/assets/images//apple-touch-icon-114x114-precomposed.png">

	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" href="../static/assets/images//apple-touch-icon-72x72-precomposed.png">

	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="../static/assets/images//apple-touch-icon-57x57-precomposed.png">

	<!-- Library - Google Font Familys -->
	<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'assets/revolution/css/settings.css' %}">
	<!--link rel="stylesheet" type="text/css" href="assets/revolution/fonts/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="assets/revolution/fonts/font-awesome/css/font-awesome.min.css"-->

	<!-- RS5.3 Layers and Navigation Styles -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/revolution/css/layers.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/revolution/css/navigation.css' %}">

	<!-- Library -->
    <link rel="stylesheet" href="{% static 'assets/css/lib.css' %}" >

	<!-- Custom - Common CSS -->
	<link href="{% static 'assets/css/plugins.css' %} " rel="stylesheet">
	<link href="{% static 'assets/css/elements.css' %} " rel="stylesheet">
	<link href="{% static 'assets/css/rtl.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">n


	<!--[if lt IE 9]>
		<script src="../static/assets/js/html5/respond.min.js"></script>
    <![endif]-->
	
</head>

<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
	<!-- Loader -->
	<div id="site-loader" class="load-complete">
		<div class="loader">
			<div class="line-scale-pulse-out"><div></div><div></div><div></div><div></div><div></div></div>
		</div>
	</div><!-- Loader /- -->

	

        {% include 'navbar.html' %}


	<!-- Main Container -->
	<div class="main-container">
	
		<!-- Page Banner -->
		<div class="container-fluid no-left-padding no-right-padding page-banner no-bottom-margin">
			<!-- Container -->
			<div class="container">
				<h3 class="tc_white">ABOUT US</h3>
				<ol class="breadcrumb">
					<li><a class="tc_white tc_white_h" href="index.html">Home</a></li>
					<li class="active tc_white">About Us</li>
				</ol>
			</div><!-- Container /- -->
		</div><!-- Page Banner /- -->
		
		<main class="site-main">
			
			<!-- About Section -->
			<div class="container-fluid no-left-padding no-right-padding about-section">
				<div class="col-md-5">
				    <img src="http://placehold.it/530x530" alt=""><!-- Container -->
<!--               {%static 'assets/images/handshake.jpg' %}-->
                </div>
				<div class="container">
					<!-- Row -->
					<div class="row">
						<div class="col-md-7">
							<div class="about-content tcp_gray2">
								<!-- Section Header -->
								<div class="section-header tcp_gray">
									<h3 class="tc_dark">More about us</h3>
									<p>Our belief:</p>
								</div><!-- Section Header /- -->
                                <h3><p>Patanjali yoga sutra II.16 : Heyam-Dukham-Anagatam</p> </h3>
                                    <br>
                                    <p>
                                    Heyam: to be avoided <br>
                                    Dukham: pain, suffering <br>
                                    Anagatam: which has not yet come
                                    </p>
                                    <br>
                                    <p>The Pain Which Is Yet To Come can Be Avoided </p>
												
							</div>
						</div>
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- About Section /- -->
		
			<!-- Counter Section -->
			<div class="container-fluid no-left-padding no-right-padding counter-section">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header tcp_white">
						<h3 class="tc_white">Our Ach..</h3>
						<p>Our pulp Organization is one of the non profit organization near you.</p>
					</div><!-- Section Header /- -->
					<!-- Row -->
					<div class="row">
						<div class="col-md-3 col-sm-4 col-xs-6 counter-box">
							<div class="counter-detail bg_white">
								<i class="fa fa-tree tc_green"></i>
								<span class="tc_dark" id="skill_count-1" data-skills_percent="1258"></span>
								<h4 class="tc_dove_gray">TREES CUT</h4>
							</div>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6 counter-box">
							<div class="counter-detail bg_white">
								<i class="fa fa-paw tc_green"></i>
								<span class="tc_dark" id="skill_count-2" data-skills_percent="4695"></span>
								<h4 class="tc_dove_gray">Animals Lost</h4>
							</div>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6 counter-box">
							<div class="counter-detail bg_white">
								<i class="fa fa-leaf tc_green"></i>
								<span class="tc_dark" id="skill_count-3" data-skills_percent="3235"></span>
								<h4 class="tc_dove_gray">Trees Saved</h4>
							</div>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6 counter-box">
							<div class="counter-detail bg_white">
								<i class="fa fa-user tc_green"></i>
								<span class="tc_dark" id="skill_count-4" data-skills_percent="6452"></span>
								<h4 class="tc_dove_gray">Volunteers</h4>
							</div>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6 counter-box">
							<div class="counter-detail bg_white">
								<i class="fa fa-globe tc_green"></i>
								<span class="tc_dark" id="skill_count-5" data-skills_percent="5154"></span>
								<h4 class="tc_dove_gray">Globalization Work</h4>
							</div>
						</div>
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- Counter Section /- -->
			
			<!-- Our Mission Section -->
			<div class="container-fluid no-left-padding no-right-padding our-mission-section">
				<!-- Container -->
				<div class="container">
					<!-- Row -->
					<div class="row">
						<div class="col-md-7 our-mission-content">
							<!-- Section Header -->
							<div class="section-header tcp_gray">
								<h3 class="tc_dark">Our Mission</h3>
								<p>Our pulp Organization is one of the non profit organization near you.</p>
							</div><!-- Section Header /- -->
							<div class="our-mission">
								<div class="mission-box tcp_gray2">
									<i class="fa fa-lightbulb-o tc_white bg_dark2"></i>
									<h3 class="tc_dark">Restoring Ecosystems</h3>
									<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet.Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor.</p>
								</div>
								<div class="mission-box tcp_gray2">
									<i class="fa fa-users tc_white bg_dark2 bg_green_h"></i>
									<h3 class="tc_dark tc_green_h">Restoring Ecosystems</h3>
									<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet.Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor.</p>
								</div>
								<div class="mission-box tcp_gray2">
									<i class="fa fa-pagelines tc_white bg_dark2 bg_green_h"></i>
									<h3 class="tc_dark tc_green_h">Restoring Ecosystems</h3>
									<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet.Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor.</p>
								</div>
							</div>
						</div>
					</div><!-- Row /- -->
				</div><!-- Container /- -->
				<div class="mission-img" data-image="http://placehold.it/865x523"></div>
			</div><!-- Our Mission Section /- -->
			
			<!-- Work Section -->
			<div class="container-fluid no-left-padding no-right-padding work-section">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header tcp_white">
						<h3 class="tc_white">We work with</h3>
						<p>Our pulp Organization is one of the non profit organization near you.</p>
					</div><!-- Section Header /- -->
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div id="skill_type-1" class="skill-block">
								<div class="skill-progress-box">
									<h3 class="block-title tc_white">Water Quality <span data-skill_percent="82" id="skill_1_count-1"></span></h3>
									<div class="progress-box">
										<div class="progress">
											<div class="progress-bar progress-bar-danger" role="progressbar" id="skill_bar_1_count-1"></div>
										</div>
									</div>
								</div>
								<div class="skill-progress-box">
									<h3 class="block-title tc_white">Air Quality <span data-skill_percent="82" id="skill_1_count-2"></span></h3>
									<div class="progress-box">
										<div class="progress">
											<div class="progress-bar progress-bar-danger" role="progressbar" id="skill_bar_1_count-2"></div>
										</div>
									</div>
								</div>
								<div class="skill-progress-box">
									<h3 class="block-title tc_white">Climate Change <span data-skill_percent="78" id="skill_1_count-3"></span></h3>
									<div class="progress-box">
										<div class="progress">
											<div class="progress-bar progress-bar-danger" role="progressbar" id="skill_bar_1_count-3"></div>
										</div>
									</div>
								</div>
								<div class="skill-progress-box">
									<h3 class="block-title tc_white">Forest Rescue <span data-skill_percent="60" id="skill_1_count-4"></span></h3>
									<div class="progress-box">
										<div class="progress">
											<div class="progress-bar progress-bar-danger" role="progressbar" id="skill_bar_1_count-4"></div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-sm-6 faq-block">
							<div class="panel-group" id="accordion-1" role="tablist" aria-multiselectable="true">
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingOne">
										<h4 class="panel-title">
											<a role="button" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-1" aria-expanded="true">How the environment can be good material</a>
										</h4>
									</div>
									<div id="collapse-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
										<div class="panel-body bg_white tc_dark2">Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet.Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor.</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingTwo">
										<h4 class="panel-title">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-2" aria-expanded="false">Be aware of all the benefits of trees sarmpeke</a>
										</h4>
									</div>
									<div id="collapse-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
										<div class="panel-body bg_white tc_dark2">Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet.Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor.</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingThree">
										<h4 class="panel-title">
											<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-3" aria-expanded="false">How to work with the environment where</a>
										</h4>
									</div>
									<div id="collapse-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
										<div class="panel-body bg_white tc_dark2">Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet.Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- Container /- -->
			</div><!-- Work Section /- -->
			
			<!-- Team Section -->
			<div class="container-fluid no-left-padding no-right-padding team-section">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header tcp_gray">
						<h3 class="tc_dark">Acknowledgements</h3>
						<p>Our pulp Organization is one of the non profit organization near you.</p>
					</div><!-- Section Header /- -->
					<!-- Row -->
					<div class="row">
						<div class="col-md-4 col-xs-6 team-box">
							<div class="team-member-detail">
								<img src="http://placehold.it/370x276" alt="Team" />
								<div class="team-content bg_snow3 tcp_dove_gray">
									<h4 class="tc_dark">Taylor Smith tory</h4>
									<span class="tc_green">FOUNDER</span>
									<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 team-box">
							<div class="team-member-detail">
								<img src="http://placehold.it/370x276" alt="Team" />
								<div class="team-content bg_snow3 tcp_dove_gray">
									<h4 class="tc_dark">Juliane Stein Hurst</h4>
									<span class="tc_green">CO-FOUNDER</span>
									<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 team-box">
							<div class="team-member-detail">
								<img src="http://placehold.it/370x276" alt="Team" />
								<div class="team-content bg_snow3 tcp_dove_gray">
									<h4 class="tc_dark">Victor Tadlock Adams</h4>
									<span class="tc_green">Senior Worker</span>
									<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet.</p>
								</div>
							</div>
						</div>
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- Team Section /- -->
			
			
			<!-- Client Section -->
			<div class="container-fluid no-left-padding no-right-padding client-section">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header tcp_gray">
						<h3 class="tc_dark2 tcspan_green">OUR HAPPY AND SUCCESFUL<span> CLIENTS</span></h3>
						<p>Our pulp Organization is one of the non profit organization near you.</p>
					</div><!-- Section Header /- -->
					<div class="client-carousel">
						<div class="item">
							<a href="#"><img src="../static/assets/images/client-logo-1.jpg" alt="Client Logo" /></a>
						</div>
						<div class="item">
							<a href="#"><img src="../static/assets/images/client-logo-2.jpg" alt="Client Logo" /></a>
						</div>
						<div class="item">
							<a href="#"><img src="../static/assets/images/client-logo-3.jpg" alt="Client Logo" /></a>
						</div>
						<div class="item">
							<a href="#"><img src="../static/assets/images/client-logo-4.jpg" alt="Client Logo" /></a>
						</div>
						<div class="item">
							<a href="#"><img src="../static/assets/images/client-logo-5.jpg" alt="Client Logo" /></a>
						</div>
					</div>
				</div><!-- Container /- -->
			</div><!-- Client Section /- -->
			
		</main>

	</div><!-- Main Container /- -->
		
{% include 'footer.html'%}