<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>Blog Single Right Sidebar - gplant</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="assets/images//favicon.ico" />
	
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-114x114-precomposed.png">
	
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-72x72-precomposed.png">
	
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-57x57-precomposed.png">	
	
	<!-- Library - Google Font Familys -->
	<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
		
	<!-- Library -->
    <link href="../static/css/lib.css" rel="stylesheet">
	
	<!-- Custom - Common CSS -->
	<link href="../static/css/plugins.css" rel="stylesheet">
	<link href="../static/css/elements.css" rel="stylesheet">
	<link href="../static/css/rtl.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">

	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->
	
</head>

<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
	<!-- Loader -->
	<div id="site-loader" class="load-complete">
		<div class="loader">
			<div class="line-scale-pulse-out"><div></div><div></div><div></div><div></div><div></div></div>
		</div>
	</div><!-- Loader /- -->

	
	<!-- Header Section -->
	<header class="header_s header_s2">
		<!-- SidePanel -->
		<div id="slidepanel">
			
			<!-- Top Header -->
			<div class="container-fluid no-right-padding no-left-padding top-header brd_color_green">
				<!-- Container -->
				<div class="container">						
					<div class="top-left">
						<p class="tc_gray"><i class="fa fa-home"></i>Dhaka, Bangladesh</p>
						<p><i class="fa fa-phone tc_gray"></i><a class="tc_gray tc_green_h" href="tel:+8801532987039">+ 8801532-987039</a></p>
					</div>
					<div class="top-right">
						<ul>
							<li><a class="tc_dark tc_sugar_h bg_green_h" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a class="tc_dark tc_sugar_h bg_green_h" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a class="tc_dark tc_sugar_h bg_green_h" href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a class="tc_dark tc_sugar_h bg_green_h" href="#"><i class="fa fa-vimeo-square"></i></a></li>
						</ul>
						<p><i class="fa fa-key tc_dark"></i><a class="tc_dark tc_green_h" href="#" title="Login">Login</a></p>
						<p><i class="fa fa-user tc_dark"></i><a class="tc_dark tc_green_h" href="#" title="Signup">Signup</a></p>
					</div>
				</div><!-- Container /- -->
			</div><!-- Top Header /- -->
			
		</div><!-- SidePanel /- -->
		
		<!-- Ownavigation -->
		<nav class="navbar ownavigation menu_color2">
			<!-- Container -->
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html"><img src="assets/images/logo-2.png" alt="logo"></a>
				</div>
				<div class="donation-btn">
					<a class="bg_green tc_white bg_black_h tc_white_h" href="#" title="Donate Now">Donate Now</a>
				</div>
				<div class="search">
					<a href="javascript:void(0);" id="search" title="Search"><i class="fa fa-search"></i></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="index.html" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
							<i class="ddl-switch fa fa-angle-down"></i>
							<ul class="dropdown-menu">
								<li><a href="index.html" title="Home 1">Home 1</a></li>
								<li><a href="index-2.html" title="Home 2">Home 2</a></li>
								<li><a href="index-3.html" title="Home 3">Home 3</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
							<i class="ddl-switch fa fa-angle-down"></i>
							<ul class="dropdown-menu">
								<li><a href="aboutus.html" title="About">About</a></li>
								<li><a href="services.html" title="Services">Services</a></li>
								<li><a href="team.html" title="Team">Team</a></li>
								<li><a href="testimonial.html" title="Testimonial">Testimonial</a></li>
								<li><a href="volunter-join.html" title="Volunteer join">Volunteer join</a></li>
								<li><a href="donation.html" title="Donation">Donation</a></li>
								<li><a href="signup.html" title="Sign Up">Sign Up</a></li>
								<li><a href="comming-soon.html" title="Comming Soon">Comming Soon</a></li>
								<li><a href="404.html" title="404 Error">404 Error</a></li>
								<li><a href="faq.html" title="FAQs Page">FAQs Page</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="gallery-masonry.html" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Gallery</a>
							<i class="ddl-switch fa fa-angle-down"></i>
							<ul class="dropdown-menu">
								<li><a href="gallery-masonry.html" title="Masonry Gallery L1">Masonry Gallery L1</a></li>
								<li><a href="gallery-large.html" title="Large Gallery L2 ">Large Gallery L2 </a></li>
								<li><a href="gallery-medium.html" title="Medium Gallery L3">Medium Gallery L3</a></li>
								<li><a href="gallery-small.html" title="Small Gallery L4">Small Gallery L4</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="event-home.html" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Event</a>
							<i class="ddl-switch fa fa-angle-down"></i>
							<ul class="dropdown-menu">
								<li><a href="event-home.html" title="Events All">Events All</a></li>
								<li><a href="event-single.html" title="Events Details">Events Details</a></li>
							</ul>
						</li>
						<li class="dropdown active">
							<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
							<i class="ddl-switch fa fa-angle-down"></i>
							<ul class="dropdown-menu">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog Classic</a>
									<i class="ddl-switch fa fa-angle-down"></i>
									<ul class="dropdown-menu">
										<li><a href="blog-left-sidebar.html" title="Blog Single Left Sidebar">Blog Classic Left Sidebar</a></li>
										<li><a href="blog-right-sidebar.html" title="Blog Single Right Sidebar">Blog Classic Right Sidebar</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog Grid</a>
									<i class="ddl-switch fa fa-angle-down"></i>
									<ul class="dropdown-menu">
										<li><a href="blog-grid-2-col.html" title="Blog Grid 2 Column">Blog Grid 2 Column</a></li>
										<li><a href="blog-grid-3-col.html" title="Blog Grid 3 Column">Blog Grid 3 Column</a></li>
									</ul>
								</li>
								<li><a href="blog-fullwidth.html" title="Blog Full Wide">Blog Full Wide</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog Single</a>
									<i class="ddl-switch fa fa-angle-down"></i>
									<ul class="dropdown-menu">
										<li><a href="blog-single-left-sidebar.html" title="Blog Single Left Sidebar">Blog Single Left Sidebar</a></li>
										<li><a href="blog-single-right-sidebar.html" title="Blog Single Right Sidebar">Blog Single Right Sidebar</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="contactus.html" title="Contact Us">Contact</a></li>
					</ul>
				</div>
				<div id="loginpanel" class="desktop-hide">
					<div class="right" id="toggle">
						<a id="slideit" href="#slidepanel"><i class="fo-icons fa fa-inbox"></i></a>
						<a id="closeit" href="#slidepanel"><i class="fo-icons fa fa-close"></i></a>
					</div>
				</div>
				<!-- Search Box -->
				<div class="search-box">
					<span><i class="icon_close"></i></span>
					<form><input type="text" class="form-control" placeholder="Enter a keyword and press enter..." /></form>
				</div><!-- Search Box /- -->
			</div><!-- Container /- -->
		</nav><!-- Ownavigation /- -->
		
	</header><!-- Header Section /- -->	

	<!-- Main Container -->
	<div class="main-container">
	
		<!-- Page Banner -->
		<div class="container-fluid no-left-padding no-right-padding page-banner blog-single-left-sidebar-banner">
			<!-- Container -->
			<div class="container">
				<h3 class="tc_white">BLOG details</h3>
				<ol class="breadcrumb">
					<li><a class="tc_white tc_white_h" href="index.html">Home</a></li>
					<li><a class="tc_white tc_white_h" href="index.html">Blogs</a></li>
					<li class="active tc_white">single post</li>
				</ol>
			</div><!-- Container /- -->
		</div><!-- Page Banner /- -->

		<main class="site-main">
			
			<!-- Blog Single Right Sidebar -->
			<div class="container-fluid no-left-padding no-right-padding blog-single">
				<!-- Container -->
				<div class="container">
					<!-- Row -->
					<div class="row">
						<!-- Content Area -->
						<div class="col-md-8 col-sm-6 content-area blog-single-curv">
							<article class="type-post">
								<!-- Entry Cover -->
								<div class="entry-cover">
									<img src="http://placehold.it/770x318" alt="Blog" />
								</div><!-- Entry Cover /- -->
								<!-- Entry Header -->
								<div class="entry-header bg_dark2">
									<h3 class="entry-title tc_white">Farm or home plantations are typically </h3>
									<div class="entry-meta">
										<span><i class="fa fa-calendar-o tc_green"></i><a class="tc_white tc_green_h" href="#">Jun 01, 2017</a></span>
										<span><i class="fa fa-user tc_green"></i><a class="tc_white tc_green_h" href="#">Admin</a></span>										
										<span><i class="fa fa-comments-o tc_green"></i><a class="tc_white tc_green_h" href="#">0</a></span>										
									</div>
								</div><!-- Entry Header /- -->
								<!-- Entry Content -->
								<div class="entry-content brd_color_light_gray tcp_gray2">
									<p>the tree has grown from bedroom beginnings into one of London’s freshest content marketing agencies. We’re a heady mix of young marketeers and experienced business people, with more than 50 years’ experience in marketing, advertising and content services. We offer one holistic view of the entire marketing sector. Our clients see us as their full-service, in-house marketing team – just without the overheads of management costs.</p>
									<p>Everything we do is bound by unique creativity and technology driven campaign strategies that yield the strongest results. With ambitious targets to hit, the tree are well-equipped to drive Conspicuous to new levels of success using the latest content marketing techniques.</p>
									<blockquote>
										Everything we do is bound by unique creativity and technology driven campaign strategies that yield the strongest results. With ambitious targets to hit, the tree are well-equipped to drive Conspicuous to new levels of success using.
									</blockquote>
									<p>Everything we do is bound by unique creativity and technology driven campaign strategies that yield the strongest results. With ambitious targets to hit, the tree are well-equipped to drive Conspicuous to new levels of success.</p>
									<ul class="points-list">
										<li class="tc_dark"><i class="fa fa-envira tc_green"></i>Duis venenatis eros id libero imperdiet consectetur Lorem ipsum dolor sit amet</li>
										<li class="tc_dark"><i class="fa fa-envira tc_green"></i>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</li>
										<li class="tc_dark"><i class="fa fa-envira tc_green"></i>Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
										<li class="tc_dark"><i class="fa fa-envira tc_green"></i>Combined with a handful of model sentence structures.</li>
									</ul>
									<div class="blog-gallery">
										<h4 class="tc_dark">PHOTO GALLERY</h4>
										<ul>
											<li><a href="#"><img src="http://placehold.it/226x150" alt="Gallery" /></a></li>
											<li><a href="#"><img src="http://placehold.it/226x150" alt="Gallery" /></a></li>
											<li><a href="#"><img src="http://placehold.it/226x150" alt="Gallery" /></a></li>
										</ul>
									</div>
									<p>Everything we do is bound by unique creativity and technology driven campaign strategies that yield the strongest results. With ambitious targets to hit, the tree are well-equipped to drive Conspicuous to new levels of success.</p>
									<div class="tags">
										<span class="tc_dark">Tag : </span>
										<a class="tc_green tc_dark2_h" href="#">Environment</a>
										<a class="tc_green tc_dark2_h" href="#">Nature</a>
										<a class="tc_green tc_dark2_h" href="#">Water</a>
										<a class="tc_green tc_dark2_h" href="#">Clean eco</a>
									</div>
									<ul class="social">
										<li><a class="brd_color_gray2 tc_gray2 brd_color_green_h bg_green_h tc_white_h" href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a class="brd_color_gray2 tc_gray2 brd_color_green_h bg_green_h tc_white_h" href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a class="brd_color_gray2 tc_gray2 brd_color_green_h bg_green_h tc_white_h" href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a class="brd_color_gray2 tc_gray2 brd_color_green_h bg_green_h tc_white_h" href="#"><i class="fa fa-pinterest-p"></i></a></li>
									</ul>
								</div><!-- Entry Content /- -->
							</article>
							<!-- Comment Area -->
							<div id="comments" class="comments-area">
								<h2 class="comments-title tc_dark2">2 Comments</h2>
								<ol class="comment-list">
									<li class="comment byuser comment-author-admin bypostauthor even thread-even depth-1 parent">
										<div class="comment-body">
											<footer class="comment-meta">
												<div class="comment-author vcard">
													<img alt="img" src="http://placehold.it/80x80" class="avatar avatar-72 photo"/>
													<b class="fn">Bryan Woods</b>
												</div>
												<div class="comment-metadata">
													<a href="#">18 May 2016</a>
													<div class="reply">
														<a rel="nofollow" class="comment-reply-link" href="#"><i class="fa fa-reply-all"></i></a>
													</div>
												</div>
											</footer>
											<div class="comment-content">
												<p>All the species that share the rainforest have a part to play in the health of the ecosystem, but orangutans are sometimes referred to as ‘gardeners of the forest’ due to their special role.</p>
											</div>
										</div>
										<ol class="children">
											<li class="comment byuser comment-author-admin bypostauthor odd alt depth-2 parent">
												<div class="comment-body">
													<footer class="comment-meta">
														<div class="comment-author vcard">
															<img alt="img" src="http://placehold.it/80x80" class="avatar avatar-72 photo"/>
															<b class="fn">David Chaffee</b>
														</div>
														<div class="comment-metadata">
															<a href="#">18 May 2016</a>
															<div class="reply">
																<a rel="nofollow" class="comment-reply-link" href="#"><i class="fa fa-reply-all"></i></a>
															</div>
														</div>
													</footer>
													<div class="comment-content">
														<p>All the species that share the rainforest have a part to play in the health of the ecosystem, but orangutans are sometimes referred to as ‘gardeners of the forest’ due to their special role.</p>
													</div>
												</div>
											</li>
										</ol>
									</li>
								</ol><!-- .comment-list -->
								<!-- Comment Form -->
								<div id="respond" class="comment-respond">
									<h2 id="reply-title" class="comment-reply-title">Leave a Comment</h2>
									<form method="post" id="commentform" class="comment-form">
										<p class="comment-form-comment">
											<textarea id="comment" name="comment" placeholder="Your Message" required="required"></textarea>
										</p>
										<p class="comment-form-author">
											<input id="author" name="author" placeholder="Name" size="30" maxlength="245" required="required" type="text"/>
										</p>
										<p class="comment-form-email">
											<input id="email" name="email" placeholder="Email" required="required" type="email"/>
										</p>
										<p class="comment-form-url">
											<input id="url" name="url" placeholder="Website" type="url"/>
										</p>
										<p class="form-submit">
											<input name="submit" class="submit" value="submit" type="submit"/>
										</p>
									</form>
								</div><!-- Comment Form /- -->
							</div><!-- Comment Area /- -->
						</div><!-- Content Area /- -->
						<!-- Widget Area -->
						<div class="col-md-4 col-sm-6 col-xs-12 widget-area">
							<!-- Widget : Search -->
							<aside class="widget widget_search">
								<form class="searchform">
									<input placeholder="Search" class="form-control" required="" type="text"/>
								</form>
							</aside><!-- Widget : Search /- -->
							
							<!-- Widget : Category -->
							<aside class="widget widget_categories">
								<div class="widget-title">
									<h3 class="tc_dark">categories</h3>
								</div>
								<ul>
									<li><a class="tc_dark tc_green_h" href="#"><i class="fa fa-pagelines"></i>Environment</a></li>
									<li><a class="tc_dark tc_green_h" href="#"><i class="fa fa-cloud"></i>Cool Weather</a></li>
									<li><a class="tc_dark tc_green_h" href="#"><i class="fa fa-bolt"></i>Clean and Clear</a></li>
									<li><a class="tc_dark tc_green_h" href="#"><i class="fa fa-paw"></i>Animals</a></li>
									<li><a class="tc_dark tc_green_h" href="#"><i class="fa fa-file-image-o"></i>Photography</a></li>
								</ul>
							</aside><!-- Widget : Category /- -->
							
							<!-- Widget : Recent Comment -->
							<aside class="widget widget_recent_comment">
								<div class="widget-title">
									<h3 class="tc_dark">RECENT COMMENTS</h3>
								</div>
								<ul>
									<li><a class="tc_dark tc_green_h" href="#">There are many variations of passages of</a></li>
									<li><a class="tc_dark tc_green_h" href="#">English to emphasise design elements over.</a></li>
									<li><a class="tc_dark tc_green_h" href="#">Pellentesque suscipit porttitor.</a></li>
									<li><a class="tc_dark tc_green_h" href="#">Its words and letters have been changed</a></li>
									<li><a class="tc_dark tc_green_h" href="#">Aenean et massa blandit, faucibus dolor</a></li>
								</ul>
							</aside><!-- Widget : Recent Comment /- -->
							
							<!-- Widget : Recent Post -->
							<aside class="widget widget_recentposts">
								<div class="widget-title">
									<h3 class="tc_dark">Recent POSTS</h3>
								</div>
								<div class="latest-content">
									<a href="#" title="Recent Posts"><i><img src="http://placehold.it/70x67" class="wp-post-image" alt="blog-1"></i></a>
									<h5><a class="tc_dark tc_green_h" title="Pellentesque suscipit ante at" href="#">Pellentesque suscipit ante at</a></h5>
									<span><i class="fa fa-calendar-check-o tc_green"></i><a class="tc_dove_gray tc_green_h" href="#">10 Jun, 2017 </a></span>
								</div>
								<div class="latest-content">
									<a href="#" title="Recent Posts"><i><img src="http://placehold.it/70x67" class="wp-post-image" alt="blog-1"></i></a>
									<h5><a class="tc_dark tc_green_h" title="Pellentesque suscipit ante at" href="#">Pellentesque suscipit ante at</a></h5>
									<span><i class="fa fa-calendar-check-o tc_green"></i><a class="tc_dove_gray tc_green_h" href="#">10 Jun, 2017 </a></span>
								</div>
								<div class="latest-content">
									<a href="#" title="Recent Posts"><i><img src="http://placehold.it/70x67" class="wp-post-image" alt="blog-1"></i></a>
									<h5><a class="tc_dark tc_green_h" title="Pellentesque suscipit ante at" href="#">Pellentesque suscipit ante at</a></h5>
									<span><i class="fa fa-calendar-check-o tc_green"></i><a class="tc_dove_gray tc_green_h" href="#">10 Jun, 2017 </a></span>
								</div>
							</aside><!-- Widget : Recent Post -->
							
							<!-- Widget : Tags -->
							<aside class="widget widget_latesttweets">
								<div class="widget-title">
									<h3 class="tc_dark">Tags</h3>
								</div>
								<div class="tagcloud">
									<a class="brd_color_gray2 tc_gray2 brd_color_green_h bg_green_h tc_white_h" href="#" title="Green House">Green House</a>
									<a class="brd_color_gray2 tc_gray2 brd_color_green_h bg_green_h tc_white_h" href="#" title="Air">Air</a>
									<a class="brd_color_gray2 tc_gray2 brd_color_green_h bg_green_h tc_white_h" href="#" title="Ecosystem">Ecosystem</a>
									<a class="brd_color_gray2 tc_gray2 brd_color_green_h bg_green_h tc_white_h" href="#" title="Recycling">Recycling</a>
									<a class="brd_color_gray2 tc_gray2 brd_color_green_h bg_green_h tc_white_h" href="#" title="Solarsystem">Solarsystem</a>
									<a class="brd_color_gray2 tc_gray2 brd_color_green_h bg_green_h tc_white_h" href="#" title="Organic">Organic</a>
									<a class="brd_color_gray2 tc_gray2 brd_color_green_h bg_green_h tc_white_h" href="#" title="Eco">Eco</a>
									<a class="brd_color_gray2 tc_gray2 brd_color_green_h bg_green_h tc_white_h" href="#" title="Green">Green</a>
									<a class="brd_color_gray2 tc_gray2 brd_color_green_h bg_green_h tc_white_h" href="#" title="Sun">Sun</a>
									<a class="brd_color_gray2 tc_gray2 brd_color_green_h bg_green_h tc_white_h" href="#" title="Windmill">Windmill</a>
								</div>
							</aside><!-- Widget : Tags /- -->
						</div><!-- Widget Area /- -->
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- Blog Single Right Sidebar /- -->
			
			<!-- Callout Section -->
			<div class="container-fluid no-left-padding no-right-padding callout-section bg_green">
				<!-- Container -->
				<div class="container">
					<div class="col-md-offset-1 col-md-10 col-xs-12">
						<div class="newsletter-content tcp_white">
							<h4 class="tc_white">newsletter subscribe</h4>
							<p>Signup for regular newsletter and stay upto date with our latest news</p>
							<div class="input-group">
								<input type="text" class="form-control tc_dove_gray" placeholder="Email address...">
								<span class="input-group-btn">
									<button class="btn btn-default bg_dark2 tc_white tc_dark2_h bg_white_h" type="button">submit</button>
								</span>
							</div><!-- /input-group -->
						</div>
					</div>
				</div><!-- Container /- -->
			</div><!-- Callout Section /- -->
			
		</main>

	</div><!-- Main Container /- -->
		
	<!-- Footer Main -->
	<footer id="footer-main" class="container-fluid no-left-padding no-right-padding footer-main">
		<!-- Top Footer -->
		<div class="container-fluid no-left-padding no-right-padding top-footer">
			<!-- Container -->
			<div class="container">
				<!-- Row -->
				<div class="row">
				
					<!-- Widget About -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<aside class="widget widget_about">
							<a href="index.html"><img src="assets/images/logo.png" alt="Logo" /></a>
							<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet.  Pellentesque suscipit ante at ullamcorper. Etiam sit amet fringilla lacus.</p>
							<aside class="widget widget_social">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
								</ul>
							</aside>
						</aside>
					</div><!-- Widget About /- -->
					
					<!-- Widget Links -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<aside class="widget widget_contact">
							<h3 class="widget-title">CONTACT US</h3>
							<p><i class="fa fa-map-marker"></i> West Mirpur Road, Dhaka, Bangladesh.</p>
							<p><i class="fa fa-mobile"></i><a href="tel:+880123456789">+ 8801234-56789</a></p>
							<p><i class="fa fa-envelope"></i><a href="mailto:youremail@mail.com">youremail@mail.com</a></p>
							<p><i class="fa fa-internet-explorer"></i><a target="_blank" href="http://www.yourwebsite.com">www.yourwebsite.com</a></p>
						</aside>
					</div><!-- Widget Links /- -->
					
					<!-- Widget Latest Post -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<aside class="widget widget_latestposts">
							<h3 class="widget-title">LATEST POSTS</h3>
							<div class="latest-content">
								<a href="#" title="Recent Posts"><i><img src="http://placehold.it/70x67" class="wp-post-image" alt="blog-1"></i></a>
								<h5><a title="Pellentesque suscipit ante at" href="#">Pellentesque suscipit ante at</a></h5>
								<span><i class="fa fa-calendar-check-o"></i><a href="#">10 Jun, 2017 </a></span>
							</div>
							<div class="latest-content">
								<a href="#" title="Recent Posts"><i><img src="http://placehold.it/70x67" class="wp-post-image" alt="blog-1"></i></a>
								<h5><a title="Pellentesque suscipit ante at" href="#">Pellentesque suscipit ante at</a></h5>
								<span><i class="fa fa-calendar-check-o"></i><a href="#">10 Jun, 2017 </a></span>
							</div>
							<div class="latest-content">
								<a href="#" title="Recent Posts"><i><img src="http://placehold.it/70x67" class="wp-post-image" alt="blog-1"></i></a>
								<h5><a title="Pellentesque suscipit ante at" href="#">Pellentesque suscipit ante at</a></h5>
								<span><i class="fa fa-calendar-check-o"></i><a href="#">10 Jun, 2017 </a></span>
							</div>
						</aside>
					</div><!-- Widget Latest Post -->
					
					<!-- Widget Tags -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<aside class="widget widget_latesttweets">
							<h3 class="widget-title">POPULAR TAGS</h3>
							<div class="tagcloud">
								<a href="#" title="Green House">Green House</a>
								<a href="#" title="Air">Air</a>
								<a href="#" title="Ecosystem">Ecosystem</a>
								<a href="#" title="Recycling">Recycling</a>
								<a href="#" title="Solarsystem">Solarsystem</a>
								<a href="#" title="Organic">Organic</a>
								<a href="#" title="Eco">Eco</a>
								<a href="#" title="Green">Green</a>
								<a href="#" title="Sun">Sun</a>
								<a href="#" title="Windmill">Windmill</a>									
							</div>
						</aside>
					</div><!-- Widget Tags /- -->
					
				</div><!-- Row /- -->
			</div><!-- Container /- -->
		</div><!-- Top Footer -->
		<!-- Bottom Footer -->
		<div class="container-fluid bottom-footer no-left-padding no-right-padding">
			<!-- Container -->
			<div class="container">
				<p>Copyright © 2017 This <a href="#">gplent PSD Template</a> Design by Onista</p>
				<i class="fa fa-header"></i>					
			</div><!-- Container -->
		</div><!-- Bottom Footer /- -->
	</footer><!-- Footer Main /- -->
	
	<!-- JQuery v1.12.4 -->
	<script src="assets/js/jquery-1.12.4.min.js"></script>

	<!-- Library - Js -->
	<script src="assets/js/lib.js"></script>
	
	<!-- Library - Theme JS -->
	<script src="assets/js/functions.js"></script>
	
</body>
</html>