<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>Coming Soon - gplant</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="assets/images//favicon.ico" />
	
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-114x114-precomposed.png">
	
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-72x72-precomposed.png">
	
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-57x57-precomposed.png">	
	
	<!-- Library - Google Font Familys -->
	<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
		
	<!-- Library -->
    <link href="assets/css/lib.css" rel="stylesheet">    
	
	<!-- Custom - Common CSS -->
	<link href="assets/css/plugins.css" rel="stylesheet">
	<link href="assets/css/elements.css" rel="stylesheet">	
	<link href="assets/css/rtl.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">

	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->
	
</head>

<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
	<div class="main-container">
		<!-- Loader -->
		<div id="site-loader" class="load-complete">
			<div class="loader">
				<div class="line-scale-pulse-out"><div></div><div></div><div></div><div></div><div></div></div>
			</div>
		</div><!-- Loader /- -->	

		
		<main class="site-main">
		
			<!-- Coming Soon -->
			<div class="container-fluid no-left-padding no-right-padding comingsoon-main">
				<div class="comingsoon-left-img"><img src="http://placehold.it/375x400" alt="Image" /></div>
				<!-- Container -->
				<div class="container">
					<div class="comingsoon-detail">
						<h6>We Are Coming Soon</h6>
						<div class="comingsoon-box">
							<div data-date="2017/4/26" id="clock-3" class="clock"></div>
						</div>
					</div>
					<div class="col-md-offset-1 col-md-10 col-xs-12">
						<div class="newsletter-content tcp_gray">
							<h4 class="tc_dark">newsletter subscribe</h4>
							<p>Signup for regular newsletter and stay upto date with our latest news</p>
							<div class="input-group">
								<input type="text" class="form-control tc_dove_gray" placeholder="Email address...">
								<span class="input-group-btn">
									<button class="btn btn-default bg_green tc_white tc_white_h bg_black_h" type="button">Subscribe</button>
								</span>
							</div><!-- /input-group -->
						</div>
					</div>
				</div><!-- Container /- -->
				<div class="comingsoon-right-img"><img src="http://placehold.it/418x291" alt="Image" /></div>
			</div><!-- Coming Soon /- -->
			
		</main>
		</div>
	
	<!-- JQuery v1.12.4 -->
	<script src="assets/js/jquery-1.12.4.min.js"></script>

	<!-- Library - Js -->
	<script src="assets/js/lib.js"></script>
	<script src="assets/js/jquery.countdown.min.js"></script>
		
	<!-- Library - Theme JS -->
	<script src="assets/js/functions.js"></script>
	
</body>
</html>