{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>Contact</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="assets/images//favicon.ico" />

	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-114x114-precomposed.png">

	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-72x72-precomposed.png">

	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-57x57-precomposed.png">

	<!-- Library - Google Font Familys -->
	<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

	<!-- Library -->
    <link rel="stylesheet" href="{% static 'assets/css/lib.css' %}" >

	<!-- Custom - Common CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}" >
	<link href="{% static 'assets/css/elements.css' %} " rel="stylesheet">
	<link href="{% static 'assets/css/rtl.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">

	<!--[if lt IE 9]>
		<script src="../static/assets/js/html5/respond.min.js"></script>
    <![endif]-->
	
</head>

<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
	<!-- Loader -->
	<div id="site-loader" class="load-complete">
		<div class="loader">
			<div class="line-scale-pulse-out"><div></div><div></div><div></div><div></div><div></div></div>
		</div>
	</div><!-- Loader /- -->
	


		{% include 'navbar.html' %}

	<!-- Main Container -->
	<div class="main-container">
	
		<!-- Page Banner -->
		<div class="container-fluid no-left-padding no-right-padding page-banner contact-banner">
			<!-- Container -->
			<div class="container">
				<h3 class="tc_white">Contact Us</h3>
				<ol class="breadcrumb">
					<li><a class="tc_white tc_white_h" href="index.html">Home</a></li>
					<li class="active tc_white">Contact Us</li>
				</ol>
			</div><!-- Container /- -->
		</div><!-- Page Banner /- -->
		
		<main class="site-main">
			
			<!-- Contact content -->
			<div class="container-fluid no-left-padding no-right-padding contact-content">
				<!-- Contact Image -->
				<div class="contact-img">
					<img src="http://placehold.it/592x367" alt="Contact" />
				</div><!-- Contact Image /- -->
				<!-- Container -->
				<div class="container">
					<!-- Row -->
					<div class="row">
						<div class="col-md-offset-3 col-md-3 col-sm-6 col-xs-6">
							<div class="contact-detail">
								<h3>Our Address</h3>
								<div class="detail-box tcp_dark">
									<i class="fa fa-map-marker bg_dark2 tc_white"></i>
									<p><span>Our Location :</span> East  Monipur, Mirpur, Dhaka.</p>
								</div>
								<div class="detail-box tcp_dark">
									<i class="fa fa-phone bg_dark2 tc_white"></i>
									<p><span>Our Contacts :</span> <a class="tc_dark tc_green_h" href="tel:+8801239967891">+88012-39967891</a></p>
								</div>
								<div class="detail-box tcp_dark">
									<i class="fa fa-envelope-o bg_dark2 tc_white"></i>
									<p><span>Our Email :</span> <a class="tc_dark tc_green_h" href="mailto:company@gmail.com">company@gmail.com</a></p>
								</div>
								<ul>
									<li><a class="tc_dark bg_green_h tc_white_h" href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a class="tc_dark bg_green_h tc_white_h" href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a class="tc_dark bg_green_h tc_white_h" href="#"><i class="fa fa-pinterest-p"></i></a></li>
									<li><a class="tc_dark bg_green_h tc_white_h" href="#"><i class="fa fa-dribbble"></i></a></li>
									<li><a class="tc_dark bg_green_h tc_white_h" href="#"><i class="fa fa-skype"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 contactForm">
							<h3>Leave a Comment</h3>
							<form action="send.php" method="POST" class="row">
								<div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="fname" class="form-control" placeholder="First Name" required>
                                    </div>
                                </div>
								<div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="lname" class="form-control" placeholder="Last Name" required>
                                    </div>
                                </div>
								<div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" placeholder="E-Mail" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input name="subject" id="subject" class="form-control" type="text" placeholder="Subject">
                                    </div>
                                </div>
								<div class="col-md-12">
									<div class="form-group">
                                        <textarea name="message" class="form-control" placeholder="Your Message" required></textarea>
                                    </div>  
								</div>
								<div class="col-md-12">
                                    <button type="submit" name="submit" id="contact-submit" class="bg_green tc_white bg_black_h" value="submit">
                                        <span>SUBMIT</span>
                                         <i class="fa fa-circle-o-notch fa-spin"></i>
                                    </button>
                                </div>
<!--								<div id="alert-msg" class="alert-msg"></div>-->
							</form>
						</div>
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- Contact content /- -->
			
			<!-- Map Section -->
			<div class="container-fluid no-left-padding no-right-padding map-section">
				<div class="map-canvas" id="contact-map-canvas" data-lat="-1.312217" data-lng="36.791376" data-string="Dhaka" data-zoom="10"></div>
			</div><!-- Map Section /- -->
			
			<!-- Callout Section -->
			<div class="container-fluid no-left-padding no-right-padding callout-section bg_green">
				<!-- Container -->
				<div class="container">
					<div class="col-md-offset-1 col-md-10 col-xs-12">
						<div class="newsletter-content tcp_white">
							<h4 class="tc_white">newsletter subscribe</h4>
							<p>Signup for regular newsletter and stay upto date with our latest news</p>
							<div class="input-group">
								<input type="text" class="form-control tc_dove_gray" placeholder="Email address...">
								<span class="input-group-btn">
									<button class="btn btn-default bg_dark2 tc_white tc_dark2_h bg_white_h" type="button">submit</button>
								</span>
							</div><!-- /input-group -->
						</div>
					</div>
				</div><!-- Container /- -->
			</div><!-- Callout Section /- -->
			
		</main>

	</div><!-- Main Container /- -->
		
{% include 'footer.html'%}