<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>Event Single - gplant</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="assets/images//favicon.ico" />
	
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-114x114-precomposed.png">
	
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-72x72-precomposed.png">
	
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-57x57-precomposed.png">	
	
	<!-- Library - Google Font Familys -->
	<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
		
	<!-- Library -->
    <link href="../static/css/lib.css" rel="stylesheet">
	
	<!-- Custom - Common CSS -->
	<link href="../static/css/plugins.css" rel="stylesheet">
	<link href="../static/css/elements.css" rel="stylesheet">
	<link href="../static/css/rtl.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">

	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->
	
</head>

<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
	<!-- Loader -->
	<div id="site-loader" class="load-complete">
		<div class="loader">
			<div class="line-scale-pulse-out"><div></div><div></div><div></div><div></div><div></div></div>
		</div>
	</div><!-- Loader /- -->
	
	<!-- Header Section -->
	<header class="header_s header_s1">
		<!-- SidePanel -->
		<div id="slidepanel">
			
			<!-- Top Header -->
			<div class="container-fluid no-right-padding no-left-padding top-header brd_color_green">
				<!-- Container -->
				<div class="container">						
					<div class="top-left tcp_gray">
						<p><i class="fa fa-home"></i>Dhaka, Bangladesh</p>
						<p><i class="fa fa-phone tc_gray"></i><a class="tc_gray tc_green_h" href="tel:+8801532987039">+ 8801532-987039</a></p>
					</div>
					<div class="top-right">
						<ul>
							<li><a class="tc_dark tc_sugar_h bg_green_h" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a class="tc_dark tc_sugar_h bg_green_h" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a class="tc_dark tc_sugar_h bg_green_h" href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a class="tc_dark tc_sugar_h bg_green_h" href="#"><i class="fa fa-vimeo-square"></i></a></li>
						</ul>
						<p><i class="fa fa-key tc_dark"></i><a class="tc_dark tc_green_h" href="#" title="Login">Login</a></p>
						<p><i class="fa fa-user tc_dark"></i><a class="tc_dark tc_green_h" href="#" title="Signup">Signup</a></p>
					</div>
				</div><!-- Container /- -->
			</div><!-- Top Header /- -->
			
		</div><!-- SidePanel /- -->
		
		<!-- Ownavigation -->
		<nav class="navbar ownavigation bg_black menu_color">
			<!-- Container -->
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index-2.html"><img src="assets/images/logo.png" alt="logo"></a>
				</div>
				<div class="search">
					<a href="javascript:void(0);" id="search" title="Search"><i class="fa fa-search"></i></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="index-2.html" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
							<i class="ddl-switch fa fa-angle-down"></i>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
							<i class="ddl-switch fa fa-angle-down"></i>
							<ul class="dropdown-menu">
								<li><a href="aboutus.html" title="About">Vedic Vastu</a></li>
								<li><a href="services.html" title="Services">Geo Pathology</a></li>
								<li><a href="team.html" title="Team">Earth Sciences</a></li>
								<li><a href="testimonial.html" title="Testimonial">EMR /EMF </a></li>
								<li><a href="volunter-join.html" title="Volunteer join">Vedic Astrology</a></li>
								<li><a href="donation.html" title="Donation">Nutrition and Diet</a></li>
								<li><a href="signup.html" title="Sign Up">Cancer Research</a></li>
								<li><a href="comming-soon.html" title="Comming Soon">Numerology</a></li>
								<li><a href="404.html" title="404 Error">Chakra Research</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="gallery-masonry.html" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Products</a>
							<i class="ddl-switch fa fa-angle-down"></i>
							<ul class="dropdown-menu">
								<li><a href="gallery-masonry.html" title="Masonry Gallery L1">Maha Vastu Yantra</a></li>
								<li><a href="gallery-large.html" title="Large Gallery L2 ">Energy Cast </a></li>
								<li><a href="gallery-medium.html" title="Medium Gallery L3">SRI YANTRA</a></li>
								<li><a href="gallery-small.html" title="Small Gallery L4">Gem Stones</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="event-home.html" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Event</a>
							<i class="ddl-switch fa fa-angle-down"></i>
							<ul class="dropdown-menu">
								<li><a href="event-home.html" title="Events All">Events All</a></li>
								<li><a href="event-single.html" title="Events Details">Events Details</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
							<i class="ddl-switch fa fa-angle-down"></i>
							<ul class="dropdown-menu">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog Classic</a>
									<i class="ddl-switch fa fa-angle-down"></i>
									<ul class="dropdown-menu">
										<li><a href="blog-left-sidebar.html" title="Blog Single Left Sidebar">Blog Classic Left Sidebar</a></li>
										<li><a href="blog-right-sidebar.html" title="Blog Single Right Sidebar">Blog Classic Right Sidebar</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog Grid</a>
									<i class="ddl-switch fa fa-angle-down"></i>
									<ul class="dropdown-menu">
										<li><a href="blog-grid-2-col.html" title="Blog Grid 2 Column">Blog Grid 2 Column</a></li>
										<li><a href="blog-grid-3-col.html" title="Blog Grid 3 Column">Blog Grid 3 Column</a></li>
									</ul>
								</li>
								<li><a href="blog-fullwidth.html" title="Blog Full Wide">Blog Full Wide</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog Single</a>
									<i class="ddl-switch fa fa-angle-down"></i>
									<ul class="dropdown-menu">
										<li><a href="blog-single-left-sidebar.html" title="Blog Single Left Sidebar">Blog Single Left Sidebar</a></li>
										<li><a href="blog-single-right-sidebar.html" title="Blog Single Right Sidebar">Blog Single Right Sidebar</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="contactus.html" title="Contact Us">Contact</a></li>
					</ul>
				</div>
				<div id="loginpanel" class="desktop-hide">
					<div class="right" id="toggle">
						<a id="slideit" href="#slidepanel"><i class="fo-icons fa fa-inbox"></i></a>
						<a id="closeit" href="#slidepanel"><i class="fo-icons fa fa-close"></i></a>
					</div>
				</div>
				<!-- Search Box -->
				<div class="search-box">
					<span><i class="icon_close"></i></span>
					<form><input type="text" class="form-control" placeholder="Enter a keyword and press enter..." /></form>
				</div><!-- Search Box /- -->
			</div><!-- Container /- -->
		</nav><!-- Ownavigation /- -->
		
	</header><!-- Header Section /- -->	

	<!-- Main Container -->
	<div class="main-container">
	
		<!-- Page Banner -->
		<div class="container-fluid no-left-padding no-right-padding page-banner event-single-banner">
			<!-- Container -->
			<div class="container">
				<h3 class="tc_white">EVENT single</h3>
				<ol class="breadcrumb">
					<li><a class="tc_white tc_white_h" href="index.html">Home</a></li>
					<li><a class="tc_white tc_white_h" href="#">EVENT</a></li>
					<li class="active tc_white">EVENT single</li>
				</ol>
			</div><!-- Container /- -->
		</div><!-- Page Banner /- -->
		
		<main class="site-main">
			
			<!-- Event Single -->
			<div class="container-fluid no-left-padding no-right-padding event-single">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header tcp_gray">
						<h3 class="tc_dark">Events Details</h3>
						<p>Our pulp Organization is one of the non profit organization near you.</p>
					</div><!-- Section Header /- -->
					<!-- Row -->
					<div class="row">
						<div class="col-xs-12">
							<div class="event-cover">
								<img src="http://placehold.it/1170x455" alt="Event" />
								<span><a class="tc_white tc_white_h" href="#"><b>16</b>May <span>2017</span></a></span>
							</div>
							<div class="row">
								<!-- Content Area -->
								<div class="col-md-8 col-sm-6 content-area content-right">
									<div class="event-header">
										<div class="event-title">
											<h3 class="brd_color_green tc_dark">international day of forests</h3>
										</div>
										<div class="post-event">
											<span class="tc_gray"><i class="fa fa-clock-o"></i>At 6.30 pm</span>
											<span class="tc_gray"><i class="fa fa-map-marker"></i>Dhaka</span>
										</div>
										<ul>
											<li><a class="bg_dark tc_white tc_sugar_h bg_green_h" href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a class="bg_dark tc_white tc_sugar_h bg_green_h" href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a class="bg_dark tc_white tc_sugar_h bg_green_h" href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a class="bg_dark tc_white tc_sugar_h bg_green_h" href="#"><i class="fa fa-vimeo"></i></a></li>
										</ul>
									</div>
									<div class="event-content tcp_gray2">
										<p>Trees play such an important role in our environment. They absorb harmful carbon dioxide out of the atmosphere and produce the oxygen we all need to breathe. Their roots prevent erosion by holding the soil intact and filter water by removing pollutants. With the reality of increasingly unpredictable weather patterns and more frequent and violent storms/floods, prevent devastating soil erosion has never been more important.</p>
										<p>Trees provide so many other benefits. In rural and high-poverty areas, trees improve livelihoods. They act as a source of food or as a cash crop like coffee. In urban areas, shade trees keep sidewalks and buildings cool and help reduce noise levels. Everywhere in the world, trees are a source of joy, beauty, and inspiration.</p>
										<ul>
											<li>Top 5 Reasons to Love Trees. Just one acre of newly planted trees absorbs 2.5 tons of CO2 annually.</li>
											<li>Green Your City From the Ground Up. Activate your city and put it on the map</li>
											<li>Trees4Earth: Help Us Plant Trees. Plant trees to combat climate change.</li>
											<li>Global Day of Conversation. Campaign for Communities Engages with Mayors and Local Officials .</li>
											<li>Planting Trees at Schools. Making connections in classrooms around the world</li>
										</ul>
										<p>The first Earth Day on April 22, 1970, activated 20 million Americans from all walks of life and is widely credited with launching the modern environmental movement. The passage of the landmark Clean Air Act, Clean Water Act, Endangered Species Act and many other groundbreaking environmental laws soon followed.</p>
										<p>Twenty years later, Earth Day went global, mobilizing 200 million people in 141 countries and lifting environmental issues onto the world stage. More than 1 billion people now participate in Earth Day activities each year.</p>
										<!-- Map Section -->
										<div class="map-block">
											<div class="map-canvas" id="map-canvas-event" data-lat="23.810332" data-lng="90.412518" data-string="Dhaka" data-zoom="10"></div>
										</div><!-- Map Section /- -->
									</div>
								</div><!-- Content Area /- -->
								<!-- Widget Area -->
								<div class="col-md-4 col-sm-6 widget-area sidebar-left">
									<!-- Widget Search -->
									<aside class="widget widget_search">
										<form class="searchform">
											<input placeholder="Search" class="form-control" required="" type="text"/>
										</form>
									</aside><!-- Widget Search /- -->
									<!-- Widget Event Details -->
									<aside class="widget widget_eventdetails">
										<div class="widget-title">
											<h3>Event Details</h3>
										</div>
										<div class="eventdetails tcp_dove_gray">
											<p><i class="fa fa-calendar-check-o tc_gray"></i><b class="tc_dark">Date :</b> Jun 25, 2017</p>
											<p><i class="fa fa-clock-o tc_gray"></i><b class="tc_dark">Time :</b> 9:00 am - 6:00 pm</p>
											<p><i class="fa fa-usd tc_gray"></i><b class="tc_dark">Cost :</b> 330</p>
											<p><i class="fa fa-bullseye tc_gray"></i><b class="tc_dark">Categories :</b> Ecology</p>
											<p><i class="fa fa-globe tc_gray"></i><b class="tc_dark">Website :</b> <a class="tc_dove_gray tc_green_h" href="http://www.yoursite.com">http://www.yoursite.com</a></p>
										</div>
									</aside><!-- Widget Event Details /- -->
									<!-- Widget Event Details -->
									<aside class="widget widget_eventdetails">
										<div class="widget-title">
											<h3>Event Organizer</h3>
										</div>
										<div class="eventdetails tcp_dove_gray">
											<p><i class="fa fa-phone"></i><b class="tc_dark">Date :</b> <a class="tc_dove_gray tc_green_h" href="#">+880123587469</a></p>
											<p><i class="fa fa-globe"></i><b class="tc_dark">Time :</b> <a class="tc_dove_gray tc_green_h" href="#">yourmail.com</a></p>
											<p><i class="fa fa-home"></i><b class="tc_dark">Cost :</b> 236 Station Road, New York, NY, 10944, United States. + Google Map</p>											
										</div>
									</aside><!-- Widget Event Details /- -->
									<!-- Widget calender -->
									<aside class="widget widget_calendar">
										<div class="widget-title">
											<h3>Calender</h3>
										</div>
										<div class="calendar">
											<table>
												<thead>
													<tr>
														<th>Sun</th>
														<th>Mon</th>
														<th>Tue</th>
														<th>Wed</th>
														<th>Thu</th>
														<th>Fri</th>
														<th>Sat</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>1</td>
														<td>2</td>
														<td>3</td>
														<td>4</td>
														<td>5</td>
														<td>6</td>
														<td>7</td>
													</tr>
													<tr>
														<td>8</td>
														<td>9</td>
														<td>10</td>
														<td>11</td>
														<td>12</td>
														<td>13</td>
														<td>14</td>
													</tr>
													<tr>
														<td>15</td>
														<td>16</td>
														<td>17</td>
														<td>18</td>
														<td>19</td>
														<td>20</td>
														<td>21</td>
													</tr>
													<tr>
														<td>22</td>
														<td>23</td>
														<td>24</td>
														<td>25</td>
														<td>26</td>
														<td>27</td>
														<td>28</td>
													</tr>
													<tr>
														<td>29</td>
														<td>30</td>
														<td>31</td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
												</tbody>
											</table>
										</div>
									</aside><!-- Widget calender /- -->
								</div><!-- Widget Area /- -->
							</div>
						</div>
					</div><!-- Row /- -->
				</div><!-- Container -->
			</div><!-- Event Single /- -->
			
			<!-- Related Event -->
			<div class="container-fluid no-left-padding no-right-padding related-event">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header tcp_gray">
						<h3 class="tc_dark">Releated Events</h3>
						<p>Our pulp Organization is one of the non profit organization near you.</p>
					</div><!-- Section Header /- -->
					<!-- Related Carousel -->
					<div class="related-carousel">
						<div class="item">
							<div class="event-box">
								<div class="event-cover">
									<a href="#"><img src="http://placehold.it/270x200" alt="Event" /></a>
									<span><a class="bg_dark2 bg_green_h tc_white tc_white_h" href="#"><b>16</b>May <span>2017</span></a></span>
								</div>
								<div class="event-content tcp_gray2">
									<h3><a class="tc_dark brd_color_dark brd_color_green_h tc_dark_h" href="#">World Meteorological Day</a></h3>
									<div class="post-event">
										<span class="tc_gray"><i class="fa fa-clock-o"></i>At 6.30 pm</span>
										<span class="tc_gray"><i class="fa fa-map-marker"></i>Dhaka</span>
									</div>
									<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar porttitor. Fermentum orci amet.</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="event-box">
								<div class="event-cover">
									<a href="#"><img src="http://placehold.it/270x200" alt="Event" /></a>
									<span><a class="bg_dark2 bg_green_h tc_white tc_white_h" href="#"><b>16</b>May <span>2017</span></a></span>
								</div>
								<div class="event-content tcp_gray2">
									<h3><a class="tc_dark brd_color_dark brd_color_green_h tc_dark_h" href="#">World Meteorological Day</a></h3>
									<div class="post-event">
										<span class="tc_gray"><i class="fa fa-clock-o"></i>At 6.30 pm</span>
										<span class="tc_gray"><i class="fa fa-map-marker"></i>Dhaka</span>
									</div>
									<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar porttitor. Fermentum orci amet.</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="event-box">
								<div class="event-cover">
									<a href="#"><img src="http://placehold.it/270x200" alt="Event" /></a>
									<span><a class="bg_dark2 bg_green_h tc_white tc_white_h" href="#"><b>16</b>May <span>2017</span></a></span>
								</div>
								<div class="event-content tcp_gray2">
									<h3><a class="tc_dark brd_color_dark brd_color_green_h tc_dark_h" href="#">World Meteorological Day</a></h3>
									<div class="post-event">
										<span class="tc_gray"><i class="fa fa-clock-o"></i>At 6.30 pm</span>
										<span class="tc_gray"><i class="fa fa-map-marker"></i>Dhaka</span>
									</div>
									<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar porttitor. Fermentum orci amet.</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="event-box">
								<div class="event-cover">
									<a href="#"><img src="http://placehold.it/270x200" alt="Event" /></a>
									<span><a class="bg_dark2 bg_green_h tc_white tc_white_h" href="#"><b>16</b>May <span>2017</span></a></span>
								</div>
								<div class="event-content tcp_gray2">
									<h3><a class="tc_dark brd_color_dark brd_color_green_h tc_dark_h" href="#">World Meteorological Day</a></h3>
									<div class="post-event">
										<span class="tc_gray"><i class="fa fa-clock-o"></i>At 6.30 pm</span>
										<span class="tc_gray"><i class="fa fa-map-marker"></i>Dhaka</span>
									</div>
									<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar porttitor. Fermentum orci amet.</p>
								</div>
							</div>
						</div>
					</div><!-- Related Carousel /- -->
				</div><!-- Container -->
			</div><!-- Related Event /- -->
			
			<!-- Callout Section -->
			<div class="container-fluid no-left-padding no-right-padding callout-section bg_green">
				<!-- Container -->
				<div class="container">
					<div class="col-md-offset-1 col-md-10 col-xs-12">
						<div class="newsletter-content tcp_white">
							<h4 class="tc_white">newsletter subscribe</h4>
							<p>Signup for regular newsletter and stay upto date with our latest news</p>
							<div class="input-group">
								<input type="text" class="form-control tc_dove_gray" placeholder="Email address...">
								<span class="input-group-btn">
									<button class="btn btn-default bg_dark2 tc_white tc_dark2_h bg_white_h" type="button">submit</button>
								</span>
							</div><!-- /input-group -->
						</div>
					</div>
				</div><!-- Container /- -->
			</div><!-- Callout Section /- -->
			
		</main>

	</div><!-- Main Container /- -->
		
	<!-- Footer Main -->
	<footer id="footer-main" class="container-fluid no-left-padding no-right-padding footer-main">
		<!-- Top Footer -->
		<div class="container-fluid no-left-padding no-right-padding top-footer">
			<!-- Container -->
			<div class="container">
				<!-- Row -->
				<div class="row">
				
					<!-- Widget About -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<aside class="widget widget_about">
							<a href="index.html"><img src="assets/images/logo.png" alt="Logo" /></a>
							<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet.  Pellentesque suscipit ante at ullamcorper. Etiam sit amet fringilla lacus.</p>
							<aside class="widget widget_social">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
								</ul>
							</aside>
						</aside>
					</div><!-- Widget About /- -->
					
					<!-- Widget Links -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<aside class="widget widget_contact">
							<h3 class="widget-title">CONTACT US</h3>
							<p><i class="fa fa-map-marker"></i> West Mirpur Road, Dhaka, Bangladesh.</p>
							<p><i class="fa fa-mobile"></i><a href="tel:+880123456789">+ 8801234-56789</a></p>
							<p><i class="fa fa-envelope"></i><a href="mailto:youremail@mail.com">youremail@mail.com</a></p>
							<p><i class="fa fa-internet-explorer"></i><a target="_blank" href="http://www.yourwebsite.com">www.yourwebsite.com</a></p>
						</aside>
					</div><!-- Widget Links /- -->
					
					<!-- Widget Latest Post -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<aside class="widget widget_latestposts">
							<h3 class="widget-title">LATEST POSTS</h3>
							<div class="latest-content">
								<a href="#" title="Recent Posts"><i><img src="http://placehold.it/70x67" class="wp-post-image" alt="blog-1"></i></a>
								<h5><a title="Pellentesque suscipit ante at" href="#">Pellentesque suscipit ante at</a></h5>
								<span><i class="fa fa-calendar-check-o"></i><a href="#">10 Jun, 2017 </a></span>
							</div>
							<div class="latest-content">
								<a href="#" title="Recent Posts"><i><img src="http://placehold.it/70x67" class="wp-post-image" alt="blog-1"></i></a>
								<h5><a title="Pellentesque suscipit ante at" href="#">Pellentesque suscipit ante at</a></h5>
								<span><i class="fa fa-calendar-check-o"></i><a href="#">10 Jun, 2017 </a></span>
							</div>
							<div class="latest-content">
								<a href="#" title="Recent Posts"><i><img src="http://placehold.it/70x67" class="wp-post-image" alt="blog-1"></i></a>
								<h5><a title="Pellentesque suscipit ante at" href="#">Pellentesque suscipit ante at</a></h5>
								<span><i class="fa fa-calendar-check-o"></i><a href="#">10 Jun, 2017 </a></span>
							</div>
						</aside>
					</div><!-- Widget Latest Post -->
					
					<!-- Widget Tags -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<aside class="widget widget_latesttweets">
							<h3 class="widget-title">POPULAR TAGS</h3>
							<div class="tagcloud">
								<a href="#" title="Green House">Green House</a>
								<a href="#" title="Air">Air</a>
								<a href="#" title="Ecosystem">Ecosystem</a>
								<a href="#" title="Recycling">Recycling</a>
								<a href="#" title="Solarsystem">Solarsystem</a>
								<a href="#" title="Organic">Organic</a>
								<a href="#" title="Eco">Eco</a>
								<a href="#" title="Green">Green</a>
								<a href="#" title="Sun">Sun</a>
								<a href="#" title="Windmill">Windmill</a>									
							</div>
						</aside>
					</div><!-- Widget Tags /- -->
					
				</div><!-- Row /- -->
			</div><!-- Container /- -->
		</div><!-- Top Footer -->
		<!-- Bottom Footer -->
		<div class="container-fluid bottom-footer no-left-padding no-right-padding">
			<!-- Container -->
			<div class="container">
				<p>Copyright © 2017 This <a href="#">gplent PSD Template</a> Design by Onista</p>
				<i class="fa fa-header"></i>					
			</div><!-- Container -->
		</div><!-- Bottom Footer /- -->
	</footer><!-- Footer Main /- -->
	
	<!-- JQuery v1.12.4 -->
	<script src="assets/js/jquery-1.12.4.min.js"></script>

	<!-- Library - Js -->
	<script src="assets/js/lib.js"></script>
	
	<!-- Library - Google Map API -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW40y4kdsjsz714OVTvrw7woVCpD8EbLE"></script>
	
	<!-- Library - Theme JS -->
	<script src="assets/js/functions.js"></script>
	
</body>
</html>