<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>Home 2 - gplant</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="assets/images//favicon.ico" />
	
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-114x114-precomposed.png">
	
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-72x72-precomposed.png">
	
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-57x57-precomposed.png">	
	
	<!-- Library - Google Font Familys -->
	<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="assets/revolution/css/settings.css">
	<!--link rel="stylesheet" type="text/css" href="assets/revolution/fonts/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="assets/revolution/fonts/font-awesome/css/font-awesome.min.css"-->
	
	<!-- RS5.3 Layers and Navigation Styles -->
	<link rel="stylesheet" type="text/css" href="assets/revolution/css/layers.css">
	<link rel="stylesheet" type="text/css" href="assets/revolution/css/navigation.css">
		
	<!-- Library -->
    <link href="assets/css/lib.css" rel="stylesheet">    
	
	<!-- Custom - Common CSS -->
	<link href="assets/css/plugins.css" rel="stylesheet">
	<link href="assets/css/elements.css" rel="stylesheet">	
	<link href="assets/css/rtl.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">

	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->
	
</head>

<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
	<!-- Loader -->
	<div id="site-loader" class="load-complete">
		<div class="loader">
			<div class="line-scale-pulse-out"><div></div><div></div><div></div><div></div><div></div></div>
		</div>
	</div><!-- Loader /- -->
	
	<!-- Header Section -->
	<header class="header_s header_s1">
		<!-- SidePanel -->
		<div id="slidepanel">
			
			<!-- Top Header -->
			<div class="container-fluid no-right-padding no-left-padding top-header brd_color_green">
				<!-- Container -->
				<div class="container">						
					<div class="top-left tcp_gray">
						<p><i class="fa fa-home"></i>Dhaka, Bangladesh</p>
						<p><i class="fa fa-phone tc_gray"></i><a class="tc_gray tc_green_h" href="tel:+8801532987039">+ 8801532-987039</a></p>
					</div>
					<div class="top-right">
						<ul>
							<li><a class="tc_dark tc_sugar_h bg_green_h" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a class="tc_dark tc_sugar_h bg_green_h" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a class="tc_dark tc_sugar_h bg_green_h" href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a class="tc_dark tc_sugar_h bg_green_h" href="#"><i class="fa fa-vimeo-square"></i></a></li>
						</ul>
						<p><i class="fa fa-key tc_dark"></i><a class="tc_dark tc_green_h" href="#" title="Login">Login</a></p>
						<p><i class="fa fa-user tc_dark"></i><a class="tc_dark tc_green_h" href="#" title="Signup">Signup</a></p>
					</div>
				</div><!-- Container /- -->
			</div><!-- Top Header /- -->
			
		</div><!-- SidePanel /- -->
		
		<!-- Ownavigation -->
		<nav class="navbar ownavigation bg_black menu_color">
			<!-- Container -->
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index-2.html"><img src="assets/images/logo.png" alt="logo"></a>
				</div>
				<div class="search">
					<a href="javascript:void(0);" id="search" title="Search"><i class="fa fa-search"></i></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="index-2.html" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
							<i class="ddl-switch fa fa-angle-down"></i>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
							<i class="ddl-switch fa fa-angle-down"></i>
							<ul class="dropdown-menu">
								<li><a href="aboutus.html" title="About">Vedic Vastu</a></li>
								<li><a href="services.html" title="Services">Geo Pathology</a></li>
								<li><a href="team.html" title="Team">Earth Sciences</a></li>
								<li><a href="testimonial.html" title="Testimonial">EMR /EMF </a></li>
								<li><a href="volunter-join.html" title="Volunteer join">Vedic Astrology</a></li>
								<li><a href="donation.html" title="Donation">Nutrition and Diet</a></li>
								<li><a href="signup.html" title="Sign Up">Cancer Research</a></li>
								<li><a href="comming-soon.html" title="Comming Soon">Numerology</a></li>
								<li><a href="404.html" title="404 Error">Chakra Research</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="gallery-masonry.html" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Products</a>
							<i class="ddl-switch fa fa-angle-down"></i>
							<ul class="dropdown-menu">
								<li><a href="gallery-masonry.html" title="Masonry Gallery L1">Maha Vastu Yantra</a></li>
								<li><a href="gallery-large.html" title="Large Gallery L2 ">Energy Cast </a></li>
								<li><a href="gallery-medium.html" title="Medium Gallery L3">SRI YANTRA</a></li>
								<li><a href="gallery-small.html" title="Small Gallery L4">Gem Stones</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="event-home.html" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Event</a>
							<i class="ddl-switch fa fa-angle-down"></i>
							<ul class="dropdown-menu">
								<li><a href="event-home.html" title="Events All">Events All</a></li>
								<li><a href="event-single.html" title="Events Details">Events Details</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
							<i class="ddl-switch fa fa-angle-down"></i>
							<ul class="dropdown-menu">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog Classic</a>
									<i class="ddl-switch fa fa-angle-down"></i>
									<ul class="dropdown-menu">
										<li><a href="blog-left-sidebar.html" title="Blog Single Left Sidebar">Blog Classic Left Sidebar</a></li>
										<li><a href="blog-right-sidebar.html" title="Blog Single Right Sidebar">Blog Classic Right Sidebar</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog Grid</a>
									<i class="ddl-switch fa fa-angle-down"></i>
									<ul class="dropdown-menu">
										<li><a href="blog-grid-2-col.html" title="Blog Grid 2 Column">Blog Grid 2 Column</a></li>
										<li><a href="blog-grid-3-col.html" title="Blog Grid 3 Column">Blog Grid 3 Column</a></li>
									</ul>
								</li>
								<li><a href="blog-fullwidth.html" title="Blog Full Wide">Blog Full Wide</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog Single</a>
									<i class="ddl-switch fa fa-angle-down"></i>
									<ul class="dropdown-menu">
										<li><a href="blog-single-left-sidebar.html" title="Blog Single Left Sidebar">Blog Single Left Sidebar</a></li>
										<li><a href="blog-single-right-sidebar.html" title="Blog Single Right Sidebar">Blog Single Right Sidebar</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="contactus.html" title="Contact Us">Contact</a></li>
					</ul>
				</div>
				<div id="loginpanel" class="desktop-hide">
					<div class="right" id="toggle">
						<a id="slideit" href="#slidepanel"><i class="fo-icons fa fa-inbox"></i></a>
						<a id="closeit" href="#slidepanel"><i class="fo-icons fa fa-close"></i></a>
					</div>
				</div>
				<!-- Search Box -->
				<div class="search-box">
					<span><i class="icon_close"></i></span>
					<form><input type="text" class="form-control" placeholder="Enter a keyword and press enter..." /></form>
				</div><!-- Search Box /- -->
			</div><!-- Container /- -->
		</nav><!-- Ownavigation /- -->
		
	</header><!-- Header Section /- -->
	
	<!-- Main Container -->
	<div class="main-container">

		<main class="site-main">
		
			<!-- Slider Section -->
			<div id="home-revslider" class="slider-section container-fluid no-padding">
				<!-- START REVOLUTION SLIDER 5.3 -->
				<div class="rev_slider_wrapper">
					<div id="home-slider2" class="rev_slider" data-version="5.3">
						<ul>
							<li>
								<img src="assets/images/dummy.png" alt="slider" style="background-color: #fff;" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
								
								<div class="tp-caption tp-resizeme" id="slide-1-layer-0" 
									data-x="['right','right','right','right']" data-hoffset="['140','20','0','0']" 
									data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']" 
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
									data-start="900" 
									data-responsive_offset="on"
									style="z-index: 7;"><img src="assets/images/slide-2-tree.png" alt="" width="222" height="615" data-ww="['222px','118px','90px','60px']" data-hh="['615px','327px','249px','166px']" data-no-retina> 
								</div>
								
								<div class="tp-caption tp-resizeme" id="slide-1-layer-1" 
									data-x="['left','left','left','left']" data-hoffset="['105','50','15','0']" 
									data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']" 
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="x:right;s:1500;e:Power3.easeOut;" 
									data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
									data-start="900" 
									data-responsive_offset="on"				
									style="z-index: 7;"><img src="/home/vishnu/Desktop/Solar and dr jayashree/HTML/assets/images/ban.png" alt="" width="200" height="430" data-ww="['500px','384px','288px','180px']" data-hh="['430px','229px','172px','107px']" data-no-retina> 
								</div>
								
								<div class="tp-caption tp-resizeme rs-parallaxlevel-0 tc_dark" id="slide-1-layer-2" 
									data-x="['left','left','left','left']" data-hoffset="['670','300','200','100']" 
									data-y="['middle','middle','middle','middle']" data-voffset="['-84','-54','-84','-74']" 
									data-fontsize="['60','55','40','30']"
									data-lineheight="['77','60','45','35']"
									data-width="['730','600','500','400']"
									data-whitespace="normal"
									data-transform_idle="o:1;"
									data-transform_in="x:[-105%];s:1000;e:Power4.slideInRight;" 
									data-transform_out="y:[100%];s:1000;s:1000;e:Power2.slideInRight;" 
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"  
									data-start="1000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on"
									data-elementdelay="0.05" 
									data-textAlign="['left','left','left','left']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									style="z-index: 5; letter-spacing: 1.5px; text-transform: uppercase; font-weight:bold; font-family: 'Source Sans Pro', sans-serif;">
									Dr. Jayashree <span class="tc_green">healthy life</span> Save the <span class="tc_green">green</span>
								</div>
								
								<div class="tp-caption tp-resizeme rs-parallaxlevel-0 tc_dark" id="slide-1-layer-3" 
									data-x="['left','left','left','left']" data-hoffset="['670','300','200','100']" 
									data-y="['middle','middle','middle','middle']" data-voffset="['30','60','20','20']" 
									data-fontsize="['22','22','22','18']"
									data-lineheight="['26','26','26','26']"
									data-width="['730','600','500','400']"
									data-whitespace="normal"
									data-transform_idle="o:1;"
									data-transform_in="x:[-105%];s:1000;e:Power4.slideInRight;" 
									data-transform_out="y:[100%];s:1000;s:1000;e:Power2.slideInRight;" 
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"  
									data-start="1000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on"
									data-elementdelay="0.05"
									data-textAlign="['left','left','left','left']"
									style="z-index: 5; letter-spacing: 0.55px; white-space: normal; font-weight: normal; font-family: 'Source Sans Pro', sans-serif; ">Holisticly extend high standards in value before value-added sources.
								</div>
								

								
							</li>
							
							<li>
								<img src="assets/images/dummy.png" alt="slider" style="background-color: #fff;" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
								
								<div class="tp-caption tp-resizeme" id="slide-2-layer-0" 
									data-x="['right','right','right','right']" data-hoffset="['140','20','0','0']" 
									data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']" 
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
									data-start="900" 
									data-responsive_offset="on"
									style="z-index: 7;"><img src="assets/images/slide-2-tree.png" alt="" width="222" height="615" data-ww="['222px','118px','90px','60px']" data-hh="['615px','327px','249px','166px']" data-no-retina> 
								</div>
								
								<div class="tp-caption tp-resizeme" id="slide-2-layer-1" 
									data-x="['left','left','left','left']" data-hoffset="['105','50','15','0']" 
									data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']" 
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"
									data-transform_idle="o:1;"
									data-transform_in="x:right;s:1500;e:Power3.easeOut;" 
									data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;" 
									data-start="900" 
									data-responsive_offset="on"				
									style="z-index: 7;"><img src="/home/vishnu/Desktop/Solar and dr jayashree/HTML/assets/images/ban.png"" alt="" width="200" height="430" data-ww="['500px','384px','288px','180px']" data-hh="['430px','229px','172px','107px']" data-no-retina> 
								</div>
								
								<div class="tp-caption tp-resizeme rs-parallaxlevel-0 tc_dark" id="slide-2-layer-2" 
									data-x="['left','left','left','left']" data-hoffset="['670','300','200','100']" 
									data-y="['middle','middle','middle','middle']" data-voffset="['-84','-54','-84','-74']" 
									data-fontsize="['60','55','40','30']"
									data-lineheight="['77','60','45','35']"
									data-width="['730','600','500','400']"
									data-whitespace="normal"
									data-transform_idle="o:1;"
									data-transform_in="x:[-105%];s:1000;e:Power4.slideInRight;" 
									data-transform_out="y:[100%];s:1000;s:1000;e:Power2.slideInRight;" 
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"  
									data-start="1000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on"
									data-elementdelay="0.05" 
									data-textAlign="['left','left','left','left']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"
									style="z-index: 5; letter-spacing: 1.5px; text-transform: uppercase; font-weight:bold; font-family: 'Source Sans Pro', sans-serif;">
									to keep the <span class="tc_green">world safe</span> Save the <span class="tc_green">green</span>
								</div>
								
								<div class="tp-caption tp-resizeme rs-parallaxlevel-0 tc_dark" id="slide-2-layer-3" 
									data-x="['left','left','left','left']" data-hoffset="['670','300','200','100']" 
									data-y="['middle','middle','middle','middle']" data-voffset="['30','60','20','20']" 
									data-fontsize="['22','22','22','18']"
									data-lineheight="['26','26','26','26']"
									data-width="['730','600','500','400']"
									data-whitespace="normal"
									data-transform_idle="o:1;"
									data-transform_in="x:[-105%];s:1000;e:Power4.slideInRight;" 
									data-transform_out="y:[100%];s:1000;s:1000;e:Power2.slideInRight;" 
									data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
									data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"  
									data-start="1000" 
									data-splitin="none" 
									data-splitout="none" 
									data-responsive_offset="on"
									data-elementdelay="0.05"
									data-textAlign="['left','left','left','left']"
									style="z-index: 5; letter-spacing: 0.55px; white-space: normal; font-weight: normal; font-family: 'Source Sans Pro', sans-serif; ">Holisticly extend high standards in value before value-added sources.
								</div>
								
							</li>
						</ul>
					</div>
				</div>
			</div><!-- Slider Section -->
			
			<!-- Welcome Section -->
			<div class="container-fluid no-left-padding no-right-padding welcome-section2 bg_snow">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header tcp_gray">
						<h3 class="tc_dark tcspan_green"><span>Welcome</span> to Dr. Jayashree</h3>
						<p>.</p>
					</div><!-- Section Header /- -->
					<div class="welcome-content">
						<div class="welcome-bg">
							<i><img src="http://placehold.it/305x366" alt="Image" /></i>
						</div>
						<!-- Row -->
						<div class="row">						
							<div class="col-md-6 col-xs-6">
								<div class="welcome-box tcp_gray2">
									<i class="fa fa-tencent-weibo brd_color_green tc_green"></i>
									<h3 class="tc_dark tc_green_h">Eco Ideas</h3>
									<p>Etiam sit amet fringilla lacus. Pelle tesque suscipit ante at ullamcorper pulvinar neque porttitor.</p>
									<a href="#ow_wel-1" class="mfp-content tc_dark tc_green_h">Read More</a>
									<div class="zoom-anim-dialog mfp-hide small-dialog wel-pop tcp_gray2" id="ow_wel-1">
										<h3 class="tc_dark">Eco Ideas</h3>
										<p>Etiam sit amet fringilla lacus. Pelle tesque suscipit ante at ullamcorper pulvinar neque porttitor. Vestialum ac diam sit amet quamveh icula elementum. Vestialum ac diam sit amet quamveh icula elementum. Vestialum ac diam sit amet quamveh icula elementum. Vestialum ac diam sit amet quamveh icula elementum.</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-xs-6">
								<div class="welcome-box tcp_gray2">
									<i class="fa fa-sun-o  brd_color_green tc_green"></i>
									<h3 class="tc_dark tc_green_h">Solar Energy</h3>
									<p>Etiam sit amet fringilla lacus. Pelle tesque suscipit ante at ullamcorper pulvinar neque porttitor.</p>
									<a href="#ow_wel-2" class="mfp-content tc_dark tc_green_h">Read More</a>
									<div class="zoom-anim-dialog mfp-hide small-dialog wel-pop tcp_gray2" id="ow_wel-2">
										<h3 class="tc_dark">Solar Energy</h3>
										<p>Etiam sit amet fringilla lacus. Pelle tesque suscipit ante at ullamcorper pulvinar neque porttitor. Vestialum ac diam sit amet quamveh icula elementum. Vestialum ac diam sit amet quamveh icula elementum. Vestialum ac diam sit amet quamveh icula elementum. Vestialum ac diam sit amet quamveh icula elementum.</p>
									</div>
								</div>
							</div>						
							<div class="col-md-6 col-xs-6">
								<div class="welcome-box tcp_gray2">
									<i class="fa fa-recycle brd_color_green tc_green"></i>
									<h3 class="tc_dark tc_green_h">RECYCLING</h3>
									<p>Etiam sit amet fringilla lacus. Pelle tesque suscipit ante at ullamcorper pulvinar neque porttitor.</p>
									<a href="#ow_wel-3" class="mfp-content tc_dark tc_green_h">Read More</a>
									<div class="zoom-anim-dialog mfp-hide small-dialog wel-pop tcp_gray2" id="ow_wel-3">
										<h3 class="tc_dark">RECYCLING</h3>
										<p>Etiam sit amet fringilla lacus. Pelle tesque suscipit ante at ullamcorper pulvinar neque porttitor. Vestialum ac diam sit amet quamveh icula elementum. Vestialum ac diam sit amet quamveh icula elementum. Vestialum ac diam sit amet quamveh icula elementum. Vestialum ac diam sit amet quamveh icula elementum.</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-xs-6">
								<div class="welcome-box tcp_gray2">
									<i class="fa fa-pagelines brd_color_green tc_green"></i>
									<h3 class="tc_dark tc_green_h">Saving Forests</h3>
									<p>Etiam sit amet fringilla lacus. Pelle tesque suscipit ante at ullamcorper pulvinar neque porttitor.</p>
									<a href="#ow_wel-4" class="mfp-content tc_dark tc_green_h">Read More</a>
									<div class="zoom-anim-dialog mfp-hide small-dialog wel-pop tcp_gray2" id="ow_wel-4">
										<h3 class="tc_dark">Saving Forests</h3>
										<p>Etiam sit amet fringilla lacus. Pelle tesque suscipit ante at ullamcorper pulvinar neque porttitor. Vestialum ac diam sit amet quamveh icula elementum. Vestialum ac diam sit amet quamveh icula elementum. Vestialum ac diam sit amet quamveh icula elementum. Vestialum ac diam sit amet quamveh icula elementum.</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-xs-6">
								<div class="welcome-box tcp_gray2">
									<i class="fa fa-tint brd_color_green tc_green"></i>
									<h3 class="tc_dark tc_green_h">CLEAN WATER</h3>
									<p>Etiam sit amet fringilla lacus. Pelle tesque suscipit ante at ullamcorper pulvinar neque porttitor.</p>
									<a href="#ow_wel-5" class="mfp-content tc_dark tc_green_h">Read More</a>
									<div class="zoom-anim-dialog mfp-hide small-dialog wel-pop tcp_gray2" id="ow_wel-5">
										<h3 class="tc_dark">CLEAN WATER</h3>
										<p>Etiam sit amet fringilla lacus. Pelle tesque suscipit ante at ullamcorper pulvinar neque porttitor. Vestialum ac diam sit amet quamveh icula elementum. Vestialum ac diam sit amet quamveh icula elementum. Vestialum ac diam sit amet quamveh icula elementum. Vestialum ac diam sit amet quamveh icula elementum.</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-xs-6">
								<div class="welcome-box tcp_gray2">
									<i class="fa fa-ban brd_color_green tc_green"></i>
									<h3 class="tc_dark tc_green_h">Stop Pollution</h3>
									<p>Etiam sit amet fringilla lacus. Pelle tesque suscipit ante at ullamcorper pulvinar neque porttitor.</p>
									<a href="#ow_wel-6" class="mfp-content tc_dark tc_green_h">Read More</a>
									<div class="zoom-anim-dialog mfp-hide small-dialog wel-pop tcp_gray2" id="ow_wel-6">
										<h3 class="tc_dark">Stop Pollution</h3>
										<p>Etiam sit amet fringilla lacus. Pelle tesque suscipit ante at ullamcorper pulvinar neque porttitor. Vestialum ac diam sit amet quamveh icula elementum. Vestialum ac diam sit amet quamveh icula elementum. Vestialum ac diam sit amet quamveh icula elementum. Vestialum ac diam sit amet quamveh icula elementum.</p>
									</div>
								</div>
							</div>
						</div><!-- Row /- -->
						<div class="clearfix"></div>
						<div class="view-more">
							<a href="#"  data-toggle="modal" data-target=".more-services" class="tc_white bg_green tc_white_h bg_black_h">view more</a>
						</div>
					</div>
				</div><!-- Container /- -->
			</div><!-- Welcome Section /- -->
			
			<!-- Join Us Section -->
			<div class="container-fluid no-left-padding no-right-padding joinus-section2 bg_dark2">
				<div class="joinus-img" data-image="http://placehold.it/830x465">
					<img src="http://placehold.it/830x465" alt="Join Us" />
				</div>
				<!-- Container -->
				<div class="container">
					<div class="row">
						<div class="col-md-offset-5 col-md-7 col-xs-12 tcp_white joinus-content">
							<!-- Section Header -->
							<div class="section-header tcp_white">
								<h3 class="tc_white tcspan_green">Become a awesom <span>Volunteer</span></h3>
								<p>Our pulp Organization is one of the non profit organization near you.</p>
							</div><!-- Section Header /- -->
							<p>Join Our Team And Help the world. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur.Join Our Team And Help the world. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur.Join Our Team And Help the world. </p>
							<a class="bg_green tc_white bg_white_h tc_green_h" href="#" title="Join Us">JOIN US</a>
						</div>
					</div>
				</div><!-- Container /- -->
			</div><!-- Join Us Section /- -->
			
			<!-- Gallery Medium -->
			<div class="container-fluid no-left-padding no-right-padding gallery-main gallery-fitrow gallery-section2">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header tcp_gray">
						<h3 class="tc_dark tcspan_green"><span>Photo</span> Gallery</h3>
						<p>Our pulp Organization is one of the non profit organization near you.</p>
					</div><!-- Section Header /- -->
					<!-- Gallery Filter -->
					<div class="gallery-category">
						<ul id="filters">
							<li><a class="active tc_dark tc_dark_h" data-filter="*" href="#" title="Show All">SHOW ALL</a></li>
							<li><a class="tc_dark tc_dark_h" data-filter=".environment" href="#" title="Environment">Environment</a></li>
							<li><a class="tc_dark tc_dark_h" data-filter=".climate" href="#" title="Climate">Climate</a></li>
							<li><a class="tc_dark tc_dark_h" data-filter=".photography" href="#" title="Photography">photography</a></li>
							<li><a class="tc_dark tc_dark_h" data-filter=".species" href="#" title="Species">Species</a></li>
						</ul>
					</div><!-- Gallery Filter /- -->
					
				</div><!-- Container /- -->
				
				<!-- Gallery List -->
				<div class="row gallery-list">
					<div class="col-md-3 col-sm-4 col-xs-6 gallery-box environment">
						<div class="gallery-content">
							<i><img src="http://placehold.it/470x370" alt="Gallery" /></i>
							<div class="gallery-detail">
								<a class="zoom" href="http://placehold.it/470x370"><i class="fa fa-picture-o"></i></a>
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6 gallery-box climate">
						<div class="gallery-content">
							<i><img src="http://placehold.it/470x370" alt="Gallery" /></i>
							<div class="gallery-detail">
								<a class="zoom" href="http://placehold.it/470x370"><i class="fa fa-picture-o"></i></a>
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6 gallery-box photography">
						<div class="gallery-content">
							<i><img src="http://placehold.it/470x370" alt="Gallery" /></i>
							<div class="gallery-detail">
								<a class="zoom" href="http://placehold.it/470x370"><i class="fa fa-picture-o"></i></a>
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6 gallery-box species">
						<div class="gallery-content">
							<i><img src="http://placehold.it/470x370" alt="Gallery" /></i>
							<div class="gallery-detail">
								<a class="zoom" href="http://placehold.it/470x370"><i class="fa fa-picture-o"></i></a>
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6 gallery-box environment">
						<div class="gallery-content">
							<i><img src="http://placehold.it/470x370" alt="Gallery" /></i>
							<div class="gallery-detail">
								<a class="zoom" href="http://placehold.it/470x370"><i class="fa fa-picture-o"></i></a>
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6 gallery-box climate">
						<div class="gallery-content">
							<i><img src="http://placehold.it/470x370" alt="Gallery" /></i>
							<div class="gallery-detail">
								<a class="zoom" href="http://placehold.it/470x370"><i class="fa fa-picture-o"></i></a>
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6 gallery-box photography">
						<div class="gallery-content">
							<i><img src="http://placehold.it/470x370" alt="Gallery" /></i>
							<div class="gallery-detail">
								<a class="zoom" href="http://placehold.it/470x370"><i class="fa fa-picture-o"></i></a>
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6 gallery-box species">
						<div class="gallery-content">
							<i><img src="http://placehold.it/470x370" alt="Gallery" /></i>
							<div class="gallery-detail">
								<a class="zoom" href="http://placehold.it/470x370"><i class="fa fa-picture-o"></i></a>
								<a href="#"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
				</div><!-- Gallery List /- -->
				<div class="clearfix"></div>
				<div class="container-fluid view-more">
					<a class="bg_green bg_black_h tc_white tc_white_h" href="#" title="View More">view more</a>
				</div>
			</div><!-- Gallery Medium /- -->
			
			<!-- Counter Section -->
			<div class="container-fluid no-left-padding no-right-padding counter-section counter-section2 bg_dark2">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header tcp_white">
						<h3 class="tc_white">OUR achivement</h3>
						<p>Our pulp Organization is one of the non profit organization near you.</p>
					</div><!-- Section Header /- -->
					<!-- Row -->
					<div class="row">
						<div class="col-md-3 col-sm-4 col-xs-6 no-padding counter-box">
							<div class="counter-detail bg_green">
								<i class="fa fa-tree tc_white"></i>
								<span class="tc_white" id="skill_count-1" data-skills_percent="1258"></span>
								<h4 class="tc_white">TREES CUT</h4>
							</div>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6 no-padding counter-box">
							<div class="counter-detail bg_green">
								<i class="fa fa-paw tc_white"></i>
								<span class="tc_white" id="skill_count-2" data-skills_percent="4695"></span>
								<h4 class="tc_white">Animals Lost</h4>
							</div>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6 no-padding counter-box">
							<div class="counter-detail bg_green">
								<i class="fa fa-leaf tc_white"></i>
								<span class="tc_white" id="skill_count-3" data-skills_percent="3235"></span>
								<h4 class="tc_white">Trees Saved</h4>
							</div>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6 no-padding counter-box">
							<div class="counter-detail bg_green">
								<i class="fa fa-user tc_white"></i>
								<span class="tc_white" id="skill_count-4" data-skills_percent="6452"></span>
								<h4 class="tc_white">Volunteers</h4>
							</div>
						</div>
						<div class="col-md-3 col-sm-4 col-xs-6 no-padding counter-box">
							<div class="counter-detail bg_green">
								<i class="fa fa-globe tc_white"></i>
								<span class="tc_white" id="skill_count-5" data-skills_percent="5154"></span>
								<h4 class="tc_white">Globalization Work</h4>
							</div>
						</div>
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- Counter Section /- -->
			
			<!-- Latest Events Section 2 -->
			<div class="container-fluid no-left-padding no-right-padding latest-event-section2">
				<!-- Container -->
				<div class="container">
					<div class="col-md-offset-3 col-md-9 no-left-padding no-right-padding">
						<!-- Section Header -->
						<div class="section-header tcp_gray">
							<h3 class="tc_dark">Latest <span class="tc_green">event</span></h3>
							<p>Our pulp Organization is one of the non profit organization near you.</p>
						</div><!-- Section Header /- -->
						<!-- Row -->
						<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-6">
								<div class="event-box">
									<div class="event-cover">
										<a href="#"><img src="http://placehold.it/270x225" alt="Event" /></a>
									</div>
									<div class="event-content tcp_gray2">
										<h3><a class="tc_dark tc_green_h" href="#">the Second World</a></h3>
										<div class="post-event">
											<span class="tc_gray"><i class="fa fa-clock-o tc_green"></i>At 6.30 pm</span>
											<span class="tc_gray"><i class="fa fa-map-marker tc_green"></i>Bangladesh</span>
										</div>
										<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar porttitor.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-6">
								<div class="event-box">
									<div class="event-cover">
										<a href="#"><img src="http://placehold.it/270x225" alt="Event" /></a>
									</div>
									<div class="event-content tcp_gray2">
										<h3><a class="tc_dark tc_green_h" href="#">incredible rate after</a></h3>
										<div class="post-event">
											<span class="tc_gray"><i class="fa fa-clock-o tc_green"></i>At 6.30 pm</span>
											<span class="tc_gray"><i class="fa fa-map-marker tc_green"></i>Bangladesh</span>
										</div>
										<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar porttitor.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-6">
								<div class="event-box">
									<div class="event-cover">
										<a href="#"><img src="http://placehold.it/270x225" alt="Event" /></a>
									</div>
									<div class="event-content tcp_gray2">
										<h3><a class="tc_dark tc_green_h" href="#">To reach such areas</a></h3>
										<div class="post-event">
											<span class="tc_gray"><i class="fa fa-clock-o tc_green"></i>At 6.30 pm</span>
											<span class="tc_gray"><i class="fa fa-map-marker tc_green"></i>Bangladesh</span>
										</div>
										<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar porttitor.</p>
									</div>
								</div>
							</div>
						</div><!-- Row /- -->
						<div class="clearfix"></div>
						<div class="read-more-btn">
							<a class="bg_green tc_white bg_black_h tc_white_h" href="#" title="Read More">read more</a>
						</div>
					</div>
				</div><!-- Container /- -->
			</div><!-- Latest Events Section 2 /- -->
			
			<!-- Testimonials Section 2 -->
			<div class="container-fluid no-left-padding no-right-padding testimonials-section2 home2-testimonial">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header tcp_white">
						<h3 class="tc_white">testimonials</h3>
						<p>Our pulp Organization is one of the non profit organization near you.</p>
					</div><!-- Section Header /- -->
					<div class="testimonial2-carousel">
						<div class="col-md-12 item">
							<div class="testi-box tcp_white">
								<i><img src="http://placehold.it/104x104" alt="Testi" /></i>
								<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet.</p>
								<h3 class="tcspan_green tc_white">Lula Riley <span>CEO, Fourder</span></h3>
							</div>
						</div>
						<div class="col-md-12 item">
							<div class="testi-box tcp_white">
								<i><img src="http://placehold.it/104x104" alt="Testi" /></i>
								<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet.</p>
								<h3 class="tcspan_green tc_white">Lula Riley <span>CEO, Fourder</span></h3>
							</div>
						</div>
						<div class="col-md-12 item">
							<div class="testi-box tcp_white">
								<i><img src="http://placehold.it/104x104" alt="Testi" /></i>
								<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet.</p>
								<h3 class="tcspan_green tc_white">Lula Riley <span>CEO, Fourder</span></h3>
							</div>
						</div>
					</div>
				</div><!-- Container /- -->
			</div><!-- Testimonials Section 2 /- -->
			
			<!-- Latest Blog 2 -->
			<div class="container-fluid no-left-padding no-right-padding latest-blog2">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header tcp_gray">
						<h3 class="tc_dark"><span class="tc_green">LATEST</span> NEWS</h3>
						<p>Our pulp Organization is one of the non profit organization near you.</p>
					</div><!-- Section Header /- -->
					<!-- Row -->
					<div class="row">
						<div class="col-md-4 col-xs-6">
							<div class="type-post">
								<!-- Entry Cover -->
								<div class="entry-cover">
									<a href="#"><img src="http://placehold.it/375x274" alt="Latest" /></a>
								</div><!-- Entry Cover /- -->
								<!-- Entry Header -->
								<div class="entry-header bg_dark2">
									<h3 class="entry-title tc_white"><a class="tc_white tc_green_h" href="#">what is one of the world's</a></h3>
									<div class="entry-meta">
										<span><i class="fa fa-calendar-o tc_green"></i><a class="tc_white tc_green_h" href="#">Jun 01, 2017</a></span>
										<span><i class="fa fa-user tc_green"></i><a class="tc_white tc_green_h" href="#">Admin</a></span>										
										<span><i class="fa fa-comments-o tc_green"></i><a class="tc_white tc_green_h" href="#">0</a></span>										
									</div>
								</div><!-- Entry Header /- -->
								<!-- Entry Content -->
								<div class="entry-content brd_color_light_gray2 tcp_gray2">
									<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet.</p>
									<a class="tc_dark brd_color_dark tc_white_h brd_color_green_h bg_green2_h" href="#">Read More</a>
								</div><!-- Entry Content /- -->
							</div>
						</div>
						<div class="col-md-4 col-xs-6">
							<div class="type-post">
								<!-- Entry Cover -->
								<div class="entry-cover">
									<a href="#"><img src="http://placehold.it/375x274" alt="Latest" /></a>
								</div><!-- Entry Cover /- -->
								<!-- Entry Header -->
								<div class="entry-header bg_dark2">
									<h3 class="entry-title tc_white"><a class="tc_white tc_green_h" href="#">the World Employment Progr-</a></h3>
									<div class="entry-meta">
										<span><i class="fa fa-calendar-o tc_green"></i><a class="tc_white tc_green_h" href="#">Jun 01, 2017</a></span>
										<span><i class="fa fa-user tc_green"></i><a class="tc_white tc_green_h" href="#">Admin</a></span>										
										<span><i class="fa fa-comments-o tc_green"></i><a class="tc_white tc_green_h" href="#">0</a></span>										
									</div>
								</div><!-- Entry Header /- -->
								<!-- Entry Content -->
								<div class="entry-content brd_color_light_gray2 tcp_gray2">
									<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet.</p>
									<a class="tc_dark brd_color_dark tc_white_h brd_color_green_h bg_green2_h" href="#">Read More</a>
								</div><!-- Entry Content /- -->
							</div>
						</div>
						<div class="col-md-4 col-xs-6">
							<div class="type-post">
								<!-- Entry Cover -->
								<div class="entry-cover">
									<a href="#"><img src="http://placehold.it/375x274" alt="Latest" /></a>
								</div><!-- Entry Cover /- -->
								<!-- Entry Header -->
								<div class="entry-header bg_dark2">
									<h3 class="entry-title tc_white"><a class="tc_white tc_green_h" href="#">were already warning about</a></h3>
									<div class="entry-meta">
										<span><i class="fa fa-calendar-o tc_green"></i><a class="tc_white tc_green_h" href="#">Jun 01, 2017</a></span>
										<span><i class="fa fa-user tc_green"></i><a class="tc_white tc_green_h" href="#">Admin</a></span>										
										<span><i class="fa fa-comments-o tc_green"></i><a class="tc_white tc_green_h" href="#">0</a></span>										
									</div>
								</div><!-- Entry Header /- -->
								<!-- Entry Content -->
								<div class="entry-content brd_color_light_gray2 tcp_gray2">
									<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet.</p>
									<a class="tc_dark brd_color_dark tc_white_h brd_color_green_h bg_green2_h" href="#">Read More</a>
								</div><!-- Entry Content /- -->
							</div>
						</div>
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- Latest Blog 2 /- -->
			
			<!-- Callout Section -->
			<div class="container-fluid no-left-padding no-right-padding callout-section callout-section2 bg_green2">
				<!-- Container -->
				<div class="container">
					<div class="col-md-offset-1 col-md-10 col-xs-12">
						<div class="newsletter-content tcp_white">
							<h4 class="tc_white"><span class="tc_dark">newsletter</span> subscribe</h4>
							<p>Signup for regular newsletter and stay upto date with our latest news</p>
							<div class="input-group">
								<input type="text" class="form-control tc_dove_gray" placeholder="Email address...">
								<span class="input-group-btn">
									<button class="btn btn-default bg_dark2 tc_white tc_dark2_h bg_white_h" type="button">submit</button>
								</span>
							</div><!-- /input-group -->
						</div>
					</div>
				</div><!-- Container /- -->
			</div><!-- Callout Section /- -->
			
			<!-- Client Section -->
			<div class="container-fluid no-left-padding no-right-padding client-section">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header tcp_gray">
						<h3 class="tc_dark2 tcspan_green">OUR <span>DONORS</span></h3>
						<p>Our pulp Organization is one of the non profit organization near you.</p>
					</div><!-- Section Header /- -->
					<div class="client-carousel">
						<div class="item">
							<a href="#"><img src="assets/images/client-logo-1.jpg" alt="Client Logo" /></a>
						</div>
						<div class="item">
							<a href="#"><img src="assets/images/client-logo-2.jpg" alt="Client Logo" /></a>
						</div>
						<div class="item">
							<a href="#"><img src="assets/images/client-logo-3.jpg" alt="Client Logo" /></a>
						</div>
						<div class="item">
							<a href="#"><img src="assets/images/client-logo-4.jpg" alt="Client Logo" /></a>
						</div>
						<div class="item">
							<a href="#"><img src="assets/images/client-logo-5.jpg" alt="Client Logo" /></a>
						</div>
					</div>
				</div><!-- Container /- -->
			</div><!-- Client Section /- -->
			
		</main>
		
		<div class="modal fade bs-example-modal-lg more more-services" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-header">
					<button type="button" class="close tc_white bg_green" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					<h4 class="modal-title" id="myModalLabel">ECO System</h4>
				</div>
				<div class="modal-content">
					<div class="container">
						<div class="welcome-popup">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="welcome-box tcp_gray2">
									<i class="fa fa-tint brd_color_green tc_green"></i>
									<h3 class="tc_dark">CLEAN WATER</h3>
									<p>Etiam sit amet fringilla lacus. Pelle tesque suscipit ante at ullamcorper pulvinar neque porttitor.</p>
									<a href="#ow_wel-7" class="mfp-content tc_dark tc_green_h">Read More</a>
									<div class="zoom-anim-dialog mfp-hide small-dialog wel-pop" id="ow_wel-7">
										<h3 class="tc_dark">CLEAN WATER</h3>
										<p>Etiam sit amet fringilla lacus. Pelle tesque suscipit ante at ullamcorper pulvinar neque porttitor. Vestialum ac diam sit amet quamveh icula elementum. Vestialum ac diam sit amet quamveh icula elementum. Vestialum ac diam sit amet quamveh icula elementum. Vestialum ac diam sit amet quamveh icula elementum.</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="welcome-box tcp_gray2">
									<i class="fa fa-tint brd_color_green tc_green"></i>
									<h3 class="tc_dark">CLEAN WATER</h3>
									<p>Etiam sit amet fringilla lacus. Pelle tesque suscipit ante at ullamcorper pulvinar neque porttitor.</p>
									<a href="#ow_wel-8" class="mfp-content tc_dark tc_green_h">Read More</a>
									<div class="zoom-anim-dialog mfp-hide small-dialog wel-pop" id="ow_wel-8">
										<h3 class="tc_dark">CLEAN WATER</h3>
										<p>Etiam sit amet fringilla lacus. Pelle tesque suscipit ante at ullamcorper pulvinar neque porttitor. Vestialum ac diam sit amet quamveh icula elementum. Vestialum ac diam sit amet quamveh icula elementum. Vestialum ac diam sit amet quamveh icula elementum. Vestialum ac diam sit amet quamveh icula elementum.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div><!-- Main Container /- -->
		
	<!-- Footer Main -->
	<footer id="footer-main" class="container-fluid no-left-padding no-right-padding footer-main">
		<!-- Top Footer -->
		<div class="container-fluid no-left-padding no-right-padding top-footer">
			<!-- Container -->
			<div class="container">
				<!-- Row -->
				<div class="row">
				
					<!-- Widget About -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<aside class="widget widget_about">
							<a href="index-2.html"><img src="assets/images/logo.png" alt="Logo" /></a>
							<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet.  Pellentesque suscipit ante at ullamcorper. Etiam sit amet fringilla lacus.</p>
							<aside class="widget widget_social">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
								</ul>
							</aside>
						</aside>
					</div><!-- Widget About /- -->
					
					<!-- Widget Links -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<aside class="widget widget_contact">
							<h3 class="widget-title">CONTACT US</h3>
							<p><i class="fa fa-map-marker"></i> West Mirpur Road, Dhaka, Bangladesh.</p>
							<p><i class="fa fa-mobile"></i><a href="tel:+880123456789">+ 8801234-56789</a></p>
							<p><i class="fa fa-envelope"></i><a href="mailto:youremail@mail.com">youremail@mail.com</a></p>
							<p><i class="fa fa-internet-explorer"></i><a target="_blank" href="http://www.yourwebsite.com">www.yourwebsite.com</a></p>
						</aside>
					</div><!-- Widget Links /- -->
					
					<!-- Widget Latest Post -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<aside class="widget widget_latestposts">
							<h3 class="widget-title">LATEST POSTS</h3>
							<div class="latest-content">
								<a href="#" title="Recent Posts"><i><img src="http://placehold.it/70x67" class="wp-post-image" alt="blog-1"></i></a>
								<h5><a title="Pellentesque suscipit ante at" href="#">Pellentesque suscipit ante at</a></h5>
								<span><i class="fa fa-calendar-check-o"></i><a href="#">10 Jun, 2017 </a></span>
							</div>
							<div class="latest-content">
								<a href="#" title="Recent Posts"><i><img src="http://placehold.it/70x67" class="wp-post-image" alt="blog-1"></i></a>
								<h5><a title="Pellentesque suscipit ante at" href="#">Pellentesque suscipit ante at</a></h5>
								<span><i class="fa fa-calendar-check-o"></i><a href="#">10 Jun, 2017 </a></span>
							</div>
							<div class="latest-content">
								<a href="#" title="Recent Posts"><i><img src="http://placehold.it/70x67" class="wp-post-image" alt="blog-1"></i></a>
								<h5><a title="Pellentesque suscipit ante at" href="#">Pellentesque suscipit ante at</a></h5>
								<span><i class="fa fa-calendar-check-o"></i><a href="#">10 Jun, 2017 </a></span>
							</div>
						</aside>
					</div><!-- Widget Latest Post -->
					
					<!-- Widget Tags -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<aside class="widget widget_latesttweets">
							<h3 class="widget-title">POPULAR TAGS</h3>
							<div class="tagcloud">
								<a href="#" title="Green House">Green House</a>
								<a href="#" title="Air">Air</a>
								<a href="#" title="Ecosystem">Ecosystem</a>
								<a href="#" title="Recycling">Recycling</a>
								<a href="#" title="Solarsystem">Solarsystem</a>
								<a href="#" title="Organic">Organic</a>
								<a href="#" title="Eco">Eco</a>
								<a href="#" title="Green">Green</a>
								<a href="#" title="Sun">Sun</a>
								<a href="#" title="Windmill">Windmill</a>									
							</div>
						</aside>
					</div><!-- Widget Tags /- -->
					
				</div><!-- Row /- -->
			</div><!-- Container /- -->
		</div><!-- Top Footer -->
		<!-- Bottom Footer -->
		<div class="container-fluid bottom-footer no-left-padding no-right-padding">
			<!-- Container -->
			<div class="container">
				<p>Copyright © 2017 This <a href="#">gplent PSD Template</a> Design by Onista</p>
				<i class="fa fa-header"></i>					
			</div><!-- Container -->
		</div><!-- Bottom Footer /- -->
	</footer><!-- Footer Main /- -->
	
	<!-- JQuery v1.12.4 -->
	<script src="assets/js/jquery-1.12.4.min.js"></script>

	<!-- Library - Js -->
	<script src="assets/js/lib.js"></script>
	
	<!-- RS5.3`````` Core JS Files -->
	<script type="text/javascript" src="assets/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
	<script type="text/javascript" src="assets/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	
	<!-- Library - Theme JS -->
	<script src="assets/js/functions.js"></script>
	
</body>
</html>