    <nav class="navbar ownavigation menu_color2">
			<!-- Container -->
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html"><img src="../static/assets/images/logo.png" alt="logo"></a>
				</div>
				<div class="donation-btn">
					<a class="bg_green tc_white bg_black_h tc_white_h" href="#" title="Donate Now">Donate Now</a>
				</div>
				<div class="search">
					<a href="javascript:void(0);" id="search" title="Search"><i class="fa fa-search"></i></a>
				</div>



					<ul class="nav navbar-nav">
{#						<li class="dropdown active">#}
{#							<a href="index.html" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Home</a>#}
{#							<i class="ddl-switch fa fa-angle-down"></i>#}
{#							<ul class="dropdown-menu">#}
{#								<li><a href="index.html" title="Home 1">Home 1</a></li>#}
{#								<li><a href="index-2.html" title="Home 2">Home 2</a></li>#}
{#								<li><a href="index-3.html" title="Home 3">Home 3</a></li>#}
{#							</ul>#}
{#						</li>#}
                        <li><a href="{% url 'home' %}" title="Home">Home</a></li>
                        <li><a href="{% url 'about' %}" title="About">About Us</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
							<i class="ddl-switch fa fa-angle-down"></i>
							<ul class="dropdown-menu">
                                {% for obj in servList %}
                                <li><a href="#">{{ obj.ServiceTitle }}</a></li>
                                {% endfor %}
{#                              <li><a href="services.html" title="Services">Services</a></li>#}
{#								<li><a href="team.html" title="Team">Team</a></li>#}
{#								<li><a href="testimonial.html" title="Testimonial">Testimonial</a></li>#}
{#								<li><a href="volunter-join.html" title="Volunteer join">Volunteer join</a></li>#}
{#								<li><a href="donation.html" title="Donation">Donation</a></li>#}
{#								<li><a href="signup.html" title="Sign Up">Sign Up</a></li>#}
{#								<li><a href="comming-soon.html" title="Comming Soon">Comming Soon</a></li>#}
{#								<li><a href="404.html" title="404 Error">404 Error</a></li>#}
{#								<li><a href="faq.html" title="FAQs Page">FAQs Page</a></li>#}
							</ul>
						</li>

						<li class="dropdown">
							<a href="gallery-masonry.html" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Products</a>
							<i class="ddl-switch fa fa-angle-down"></i>
							<ul class="dropdown-menu">
								{% for obj in prodList %}
                                <li><a href="#">{{ obj.ProductTitle }}</a></li>
                                {% endfor %}
{#								<li><a href="gallery-large.html" title="Large Gallery L2 ">Large Gallery L2 </a></li>#}
{#								<li><a href="gallery-medium.html" title="Medium Gallery L3">Medium Gallery L3</a></li>#}
{#								<li><a href="gallery-small.html" title="Small Gallery L4">Small Gallery L4</a></li>#}
							</ul>
						</li>
                        <li><a href="blog.html" title="Blog">Blog</a></li>
                        <li><a href="blog.html" title="E-Learning">E-Learning</a></li>
                        <li><a href="{% url 'contact' %}" title="Contact Us">Contact Us</a></li>

{#						<li class="dropdown">#}
{#							<a href="event-home.html" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Event</a>#}
{#							<i class="ddl-switch fa fa-angle-down"></i>#}
{#							<ul class="dropdown-menu">#}
{#								<li><a href="event-home.html" title="Events All">Events All</a></li>#}
{#								<li><a href="event-single.html" title="Events Details">Events Details</a></li>#}
{#							</ul>#}
{#						</li>#}
{#						<li class="dropdown">#}
{#							<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>#}
{#							<i class="ddl-switch fa fa-angle-down"></i>#}
{#							<ul class="dropdown-menu">#}
{#								<li class="dropdown">#}
{#									<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog Classic</a>#}
{#									<i class="ddl-switch fa fa-angle-down"></i>#}
{#									<ul class="dropdown-menu">#}
{#										<li><a href="blog-left-sidebar.html" title="Blog Single Left Sidebar">Blog Classic Left Sidebar</a></li>#}
{#										<li><a href="blog-right-sidebar.html" title="Blog Single Right Sidebar">Blog Classic Right Sidebar</a></li>#}
{#									</ul>#}
{#								</li>#}
{#								<li class="dropdown">#}
{#									<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog Grid</a>#}
{#									<i class="ddl-switch fa fa-angle-down"></i>#}
{#									<ul class="dropdown-menu">#}
{#										<li><a href="blog-grid-2-col.html" title="Blog Grid 2 Column">Blog Grid 2 Column</a></li>#}
{#										<li><a href="blog-grid-3-col.html" title="Blog Grid 3 Column">Blog Grid 3 Column</a></li>#}
{#									</ul>#}
{#								</li>#}
{#								<li><a href="blog-fullwidth.html" title="Blog Full Wide">Blog Full Wide</a></li>#}
{#								<li class="dropdown">#}
{#									<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog Single</a>#}
{#									<i class="ddl-switch fa fa-angle-down"></i>#}
{#									<ul class="dropdown-menu">#}
{#										<li><a href="blog-single-left-sidebar.html" title="Blog Single Left Sidebar">Blog Single Left Sidebar</a></li>#}
{#										<li><a href="blog-single-right-sidebar.html" title="Blog Single Right Sidebar">Blog Single Right Sidebar</a></li>#}
{#									</ul>#}
{#								</li>#}
{#							</ul>#}
{#						</li>#}

					</ul>
				</div>


                <div id="loginpanel" class="desktop-hide">
					<div class="right" id="toggle">
						<a id="slideit" href="#slidepanel"><i class="fo-icons fa fa-inbox"></i></a>
						<a id="closeit" href="#slidepanel"><i class="fo-icons fa fa-close"></i></a>
					</div>
				</div>
				<!-- Search Box -->
				<div class="search-box">
					<span><i class="icon_close"></i></span>
					<form><input type="text" class="form-control" placeholder="Enter a keyword and press enter..." /></form>
				</div><!-- Search Box /- -->
			</div><!-- Container /- -->
		</nav><!-- Ownavigation /- -->