<!-- Header Section -->
{% load staticfiles %}
	<header class="header_s header_s1">
		<!-- SidePanel -->
		<div id="slidepanel">

			<!-- Top Header -->
			<div class="container-fluid no-right-padding no-left-padding top-header border_color_gray">
				<!-- Container -->
				<div class="container">
					<div class="top-left tcp_gray">
<!--						<p><i class="fa fa-home"></i>Dhaka, Bangladesh</p>-->
<!--						<p><i class="fa fa-phone tc_gray"></i><a class="tc_gray tc_green_h" href="tel:+8801532987039">+ 8801532-987039</a></p>-->
					</div>
					<div class="top-right">
						<ul>
							<li><a class="tc_dark tc_sugar_h bg_green_h" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a class="tc_dark tc_sugar_h bg_green_h" href="#"><i class="fa fa-instagram"></i></a></li>
							<li><a class="tc_dark tc_sugar_h bg_green_h" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a class="tc_dark tc_sugar_h bg_green_h" href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a class="tc_dark tc_sugar_h bg_green_h" href="#"><i class="fa fa-youtube"></i></a></li>
						</ul>

					</div>
				</div><!-- Container /- -->
			</div><!-- Top Header /- -->

       		</div><!-- SidePanel /- -->
        <nav class="navbar ownavigation menu_color2">
                    <!-- Container -->
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="index.html"><img src="{% static 'assets/images/logo.png' %}" alt="logo"></a>
                        </div>
                        <div class="donation-btn">
                            <a class="bg_yellow tc_white bg_black_h tc_white_h" href="{% url 'appointments' %}" title="Appointments">Appointments</a>
                        </div>
                           
                       <div class="collapse navbar-collapse navHeaderCollapse ">
                            <ul class="nav navbar-nav">

                                <li><a href="{% url 'home' %}" title="Home">Home</a></li>
                                <li><a href="{% url 'about' %}" title="About">About Us</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
                                    <i class="ddl-switch fa fa-angle-down"></i>
                                    <ul class="dropdown-menu">
                                        {% for obj in servList %}
                                        <li><a href="{%url 'sDetail' id=obj.id %}">{{ obj.ServiceTitle }}</a></li>
                                        {% endfor %}

                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Products</a>
                                    <i class="ddl-switch fa fa-angle-down"></i>
                                    <ul class="dropdown-menu">
                                        {% for obj in prodList %}
                                        <li><a href="{%url 'pDetail'  id=obj.id  %}">{{ obj.ProductTitle }}</a></li>
                                        {% endfor %}

                                    </ul>
                                </li>
                                <li><a href="blog.html" title="Blog">Blog</a></li>
                                <li><a href="blog.html" title="E-Learning">E-Learning</a></li>
                                <li><a href="{% url 'contact' %}" title="Contact Us">Contact Us</a></li>

                            </ul>
                        </div>
                    </div><!-- Container /- -->
                </nav><!-- Ownavigation /- -->
    </header>