<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

	<title>Team - gplant</title>

	<!-- Standard Favicon -->
	<link rel="icon" type="image/x-icon" href="assets/images//favicon.ico" />
	
	<!-- For iPhone 4 Retina display: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-114x114-precomposed.png">
	
	<!-- For iPad: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-72x72-precomposed.png">
	
	<!-- For iPhone: -->
	<link rel="apple-touch-icon-precomposed" href="assets/images//apple-touch-icon-57x57-precomposed.png">	
	
	<!-- Library - Google Font Familys -->
	<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

	<!-- Library -->
    <link href="assets/css/lib.css" rel="stylesheet">    
	
	<!-- Custom - Common CSS -->
	<link href="assets/css/plugins.css" rel="stylesheet">
	<link href="assets/css/elements.css" rel="stylesheet">	
	<link href="assets/css/rtl.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">

	<!--[if lt IE 9]>
		<script src="js/html5/respond.min.js"></script>
    <![endif]-->
	
</head>

<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
	<!-- Loader -->
	<div id="site-loader" class="load-complete">
		<div class="loader">
			<div class="line-scale-pulse-out"><div></div><div></div><div></div><div></div><div></div></div>
		</div>
	</div><!-- Loader /- -->
	
	<!-- Header Section -->
	<header class="header_s header_s2">
		<!-- SidePanel -->
		<div id="slidepanel">
			
			<!-- Top Header -->
			<div class="container-fluid no-right-padding no-left-padding top-header brd_color_green">
				<!-- Container -->
				<div class="container">						
					<div class="top-left">
						<p class="tc_gray"><i class="fa fa-home"></i>Dhaka, Bangladesh</p>
						<p><i class="fa fa-phone tc_gray"></i><a class="tc_gray tc_green_h" href="tel:+8801532987039">+ 8801532-987039</a></p>
					</div>
					<div class="top-right">
						<ul>
							<li><a class="tc_dark tc_sugar_h bg_green_h" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a class="tc_dark tc_sugar_h bg_green_h" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a class="tc_dark tc_sugar_h bg_green_h" href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a class="tc_dark tc_sugar_h bg_green_h" href="#"><i class="fa fa-vimeo-square"></i></a></li>
						</ul>
						<p><i class="fa fa-key tc_dark"></i><a class="tc_dark tc_green_h" href="#" title="Login">Login</a></p>
						<p><i class="fa fa-user tc_dark"></i><a class="tc_dark tc_green_h" href="#" title="Signup">Signup</a></p>
					</div>
				</div><!-- Container /- -->
			</div><!-- Top Header /- -->
			
		</div><!-- SidePanel /- -->
		
		<!-- Ownavigation -->
		<nav class="navbar ownavigation menu_color2">
			<!-- Container -->
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html"><img src="assets/images/logo-2.png" alt="logo"></a>
				</div>
				<div class="donation-btn">
					<a class="bg_green tc_white bg_black_h tc_white_h" href="#" title="Donate Now">Donate Now</a>
				</div>
				<div class="search">
					<a href="javascript:void(0);" id="search" title="Search"><i class="fa fa-search"></i></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="index.html" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
							<i class="ddl-switch fa fa-angle-down"></i>
							<ul class="dropdown-menu">
								<li><a href="index.html" title="Home 1">Home 1</a></li>
								<li><a href="index-2.html" title="Home 2">Home 2</a></li>
								<li><a href="index-3.html" title="Home 3">Home 3</a></li>
							</ul>
						</li>
						<li class="dropdown active">
							<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
							<i class="ddl-switch fa fa-angle-down"></i>
							<ul class="dropdown-menu">
								<li><a href="aboutus.html" title="About">About</a></li>
								<li><a href="services.html" title="Services">Services</a></li>
								<li><a href="team.html" title="Team">Team</a></li>
								<li><a href="testimonial.html" title="Testimonial">Testimonial</a></li>
								<li><a href="volunter-join.html" title="Volunteer join">Volunteer join</a></li>
								<li><a href="donation.html" title="Donation">Donation</a></li>
								<li><a href="signup.html" title="Sign Up">Sign Up</a></li>
								<li><a href="comming-soon.html" title="Comming Soon">Comming Soon</a></li>
								<li><a href="404.html" title="404 Error">404 Error</a></li>
								<li><a href="faq.html" title="FAQs Page">FAQs Page</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="gallery-masonry.html" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Gallery</a>
							<i class="ddl-switch fa fa-angle-down"></i>
							<ul class="dropdown-menu">
								<li><a href="gallery-masonry.html" title="Masonry Gallery L1">Masonry Gallery L1</a></li>
								<li><a href="gallery-large.html" title="Large Gallery L2 ">Large Gallery L2 </a></li>
								<li><a href="gallery-medium.html" title="Medium Gallery L3">Medium Gallery L3</a></li>
								<li><a href="gallery-small.html" title="Small Gallery L4">Small Gallery L4</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="event-home.html" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Event</a>
							<i class="ddl-switch fa fa-angle-down"></i>
							<ul class="dropdown-menu">
								<li><a href="event-home.html" title="Events All">Events All</a></li>
								<li><a href="event-single.html" title="Events Details">Events Details</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
							<i class="ddl-switch fa fa-angle-down"></i>
							<ul class="dropdown-menu">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog Classic</a>
									<i class="ddl-switch fa fa-angle-down"></i>
									<ul class="dropdown-menu">
										<li><a href="blog-left-sidebar.html" title="Blog Single Left Sidebar">Blog Classic Left Sidebar</a></li>
										<li><a href="blog-right-sidebar.html" title="Blog Single Right Sidebar">Blog Classic Right Sidebar</a></li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog Grid</a>
									<i class="ddl-switch fa fa-angle-down"></i>
									<ul class="dropdown-menu">
										<li><a href="blog-grid-2-col.html" title="Blog Grid 2 Column">Blog Grid 2 Column</a></li>
										<li><a href="blog-grid-3-col.html" title="Blog Grid 3 Column">Blog Grid 3 Column</a></li>
									</ul>
								</li>
								<li><a href="blog-fullwidth.html" title="Blog Full Wide">Blog Full Wide</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Blog Single</a>
									<i class="ddl-switch fa fa-angle-down"></i>
									<ul class="dropdown-menu">
										<li><a href="blog-single-left-sidebar.html" title="Blog Single Left Sidebar">Blog Single Left Sidebar</a></li>
										<li><a href="blog-single-right-sidebar.html" title="Blog Single Right Sidebar">Blog Single Right Sidebar</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="contactus.html" title="Contact Us">Contact</a></li>
					</ul>
				</div>
				<div id="loginpanel" class="desktop-hide">
					<div class="right" id="toggle">
						<a id="slideit" href="#slidepanel"><i class="fo-icons fa fa-inbox"></i></a>
						<a id="closeit" href="#slidepanel"><i class="fo-icons fa fa-close"></i></a>
					</div>
				</div>
				<!-- Search Box -->
				<div class="search-box">
					<span><i class="icon_close"></i></span>
					<form><input type="text" class="form-control" placeholder="Enter a keyword and press enter..." /></form>
				</div><!-- Search Box /- -->
			</div><!-- Container /- -->
		</nav><!-- Ownavigation /- -->
		
	</header><!-- Header Section /- -->	
	
	<!-- Main Container -->
	<div class="main-container">
		
		<!-- Page Banner -->
		<div class="container-fluid no-left-padding no-right-padding page-banner team-banner">
			<!-- Container -->
			<div class="container">
				<h3 class="tc_white">OUR TEAM</h3>
				<ol class="breadcrumb">
					<li><a class="tc_white tc_white_h" href="index.html">Home</a></li>
					<li class="active tc_white">TEAM</li>
				</ol>
			</div><!-- Container /- -->
		</div><!-- Page Banner /- -->

		<main class="site-main">
			
			<!-- Team Page -->
			<div class="container-fluid no-left-padding no-right-padding team-page">
				<!-- Container -->
				<div class="container">
					<!-- Section Header -->
					<div class="section-header tcp_gray">
						<h3 class="tc_dark">volunteers</h3>
						<p>Our pulp Organization is one of the non profit organization near you.</p>
					</div><!-- Section Header /- -->
					<!-- Row -->
					<div class="row">
						<div class="col-md-4 col-xs-6 team-box">
							<div class="team-member-detail brd_color_gray brd_color_green_h">
								<img src="http://placehold.it/366x318" alt="Team" />
								<div class="team-content brd_color_gray">
									<h4 class="tc_dark">Taylor Smith tory</h4>
									<span class="tc_dark">Founder</span>
									<p class="tc_dove_gray">Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet. </p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 team-box">
							<div class="team-member-detail brd_color_gray brd_color_green_h">
								<img src="http://placehold.it/366x318" alt="Team" />
								<div class="team-content brd_color_gray">
									<h4 class="tc_dark">Juliane Stein Hurst</h4>
									<span class="tc_dark tc_green_h">co-Founder</span>
									<p class="tc_dove_gray">Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet. </p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 team-box">
							<div class="team-member-detail brd_color_gray brd_color_green_h">
								<img src="http://placehold.it/366x318" alt="Team" />
								<div class="team-content brd_color_gray">
									<h4 class="tc_dark">Victor Tadlock Adams</h4>
									<span class="tc_dark tc_green_h">Senior Worker</span>
									<p class="tc_dove_gray">Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet. </p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 team-box">
							<div class="team-member-detail brd_color_gray brd_color_green_h">
								<img src="http://placehold.it/366x318" alt="Team" />
								<div class="team-content brd_color_gray">
									<h4 class="tc_dark">Taylor Smith tory</h4>
									<span class="tc_dark tc_green_h">FOUNDER</span>
									<p class="tc_dove_gray">Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet. </p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 team-box">
							<div class="team-member-detail brd_color_gray brd_color_green_h">
								<img src="http://placehold.it/366x318" alt="Team" />
								<div class="team-content brd_color_gray">
									<h4 class="tc_dark">Juliane Stein Hurst</h4>
									<span class="tc_dark tc_green_h">co-Founder</span>
									<p class="tc_dove_gray">Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet. </p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 team-box">
							<div class="team-member-detail brd_color_gray brd_color_green_h">
								<img src="http://placehold.it/366x318" alt="Team" />
								<div class="team-content brd_color_gray">
									<h4 class="tc_dark">Victor Tadlock Adams</h4>
									<span class="tc_dark tc_green_h">Senior Worker</span>
									<p class="tc_dove_gray">Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet. </p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 team-box">
							<div class="team-member-detail brd_color_gray brd_color_green_h">
								<img src="http://placehold.it/366x318" alt="Team" />
								<div class="team-content brd_color_gray">
									<h4 class="tc_dark">Taylor Smith tory</h4>
									<span class="tc_dark tc_green_h">FOUNDER</span>
									<p class="tc_dove_gray">Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet. </p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 team-box">
							<div class="team-member-detail brd_color_gray brd_color_green_h">
								<img src="http://placehold.it/366x318" alt="Team" />
								<div class="team-content brd_color_gray">
									<h4 class="tc_dark">Juliane Stein Hurst</h4>
									<span class="tc_dark">co-Founder</span>
									<p class="tc_dove_gray">Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet. </p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-6 team-box">
							<div class="team-member-detail brd_color_gray brd_color_green_h">
								<img src="http://placehold.it/366x318" alt="Team" />
								<div class="team-content brd_color_gray brd_color_green_h">
									<h4 class="tc_dark">Victor Tadlock Adams</h4>
									<span class="tc_dark tc_green_h">Senior Worker</span>
									<p class="tc_dove_gray">Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet. </p>
								</div>
							</div>
						</div>
					</div><!-- Row /- -->
				</div><!-- Container /- -->
			</div><!-- Team Page /- -->
			
			<!-- Callout Section -->
			<div class="container-fluid no-left-padding no-right-padding callout-section bg_green">
				<!-- Container -->
				<div class="container">
					<div class="col-md-offset-1 col-md-10 col-xs-12">
						<div class="newsletter-content">
							<h4 class="tc_white">newsletter subscribe</h4>
							<p class="tc_white">Signup for regular newsletter and stay upto date with our latest news</p>
							<div class="input-group">
								<input type="text" class="form-control tc_dove_gray" placeholder="Email address...">
								<span class="input-group-btn">
									<button class="btn btn-default bg_dark2 tc_white tc_dark2_h bg_white_h" type="button">submit</button>
								</span>
							</div><!-- /input-group -->
						</div>
					</div>
				</div><!-- Container /- -->
			</div><!-- Callout Section /- -->
			
		</main>

	</div><!-- Main Container /- -->
		
	<!-- Footer Main -->
	<footer id="footer-main" class="container-fluid no-left-padding no-right-padding footer-main">
		<!-- Top Footer -->
		<div class="container-fluid no-left-padding no-right-padding top-footer">
			<!-- Container -->
			<div class="container">
				<!-- Row -->
				<div class="row">
				
					<!-- Widget About -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<aside class="widget widget_about">
							<a href="index.html"><img src="assets/images/logo.png" alt="Logo" /></a>
							<p>Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor. Fermentum orci amet.  Pellentesque suscipit ante at ullamcorper. Etiam sit amet fringilla lacus.</p>
							<aside class="widget widget_social">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
								</ul>
							</aside>
						</aside>
					</div><!-- Widget About /- -->
					
					<!-- Widget Links -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<aside class="widget widget_contact">
							<h3 class="widget-title">CONTACT US</h3>
							<p><i class="fa fa-map-marker"></i> West Mirpur Road, Dhaka, Bangladesh.</p>
							<p><i class="fa fa-mobile"></i><a href="tel:+880123456789">+ 8801234-56789</a></p>
							<p><i class="fa fa-envelope"></i><a href="mailto:youremail@mail.com">youremail@mail.com</a></p>
							<p><i class="fa fa-internet-explorer"></i><a target="_blank" href="http://www.yourwebsite.com">www.yourwebsite.com</a></p>
						</aside>
					</div><!-- Widget Links /- -->
					
					<!-- Widget Latest Post -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<aside class="widget widget_latestposts">
							<h3 class="widget-title">LATEST POSTS</h3>
							<div class="latest-content">
								<a href="#" title="Recent Posts"><i><img src="http://placehold.it/70x67" class="wp-post-image" alt="blog-1"></i></a>
								<h5><a title="Pellentesque suscipit ante at" href="#">Pellentesque suscipit ante at</a></h5>
								<span><i class="fa fa-calendar-check-o"></i><a href="#">10 Jun, 2017 </a></span>
							</div>
							<div class="latest-content">
								<a href="#" title="Recent Posts"><i><img src="http://placehold.it/70x67" class="wp-post-image" alt="blog-1"></i></a>
								<h5><a title="Pellentesque suscipit ante at" href="#">Pellentesque suscipit ante at</a></h5>
								<span><i class="fa fa-calendar-check-o"></i><a href="#">10 Jun, 2017 </a></span>
							</div>
							<div class="latest-content">
								<a href="#" title="Recent Posts"><i><img src="http://placehold.it/70x67" class="wp-post-image" alt="blog-1"></i></a>
								<h5><a title="Pellentesque suscipit ante at" href="#">Pellentesque suscipit ante at</a></h5>
								<span><i class="fa fa-calendar-check-o"></i><a href="#">10 Jun, 2017 </a></span>
							</div>
						</aside>
					</div><!-- Widget Latest Post -->
					
					<!-- Widget Tags -->
					<div class="col-md-3 col-sm-6 col-xs-6">
						<aside class="widget widget_latesttweets">
							<h3 class="widget-title">POPULAR TAGS</h3>
							<div class="tagcloud">
								<a href="#" title="Green House">Green House</a>
								<a href="#" title="Air">Air</a>
								<a href="#" title="Ecosystem">Ecosystem</a>
								<a href="#" title="Recycling">Recycling</a>
								<a href="#" title="Solarsystem">Solarsystem</a>
								<a href="#" title="Organic">Organic</a>
								<a href="#" title="Eco">Eco</a>
								<a href="#" title="Green">Green</a>
								<a href="#" title="Sun">Sun</a>
								<a href="#" title="Windmill">Windmill</a>									
							</div>
						</aside>
					</div><!-- Widget Tags /- -->
					
				</div><!-- Row /- -->
			</div><!-- Container /- -->
		</div><!-- Top Footer -->
		<!-- Bottom Footer -->
		<div class="container-fluid bottom-footer no-left-padding no-right-padding">
			<!-- Container -->
			<div class="container">
				<p>Copyright © 2017 This <a href="#">gplent PSD Template</a> Design by Onista</p>
				<i class="fa fa-header"></i>					
			</div><!-- Container -->
		</div><!-- Bottom Footer /- -->
	</footer><!-- Footer Main /- -->
	
	<!-- JQuery v1.12.4 -->
	<script src="assets/js/jquery-1.12.4.min.js"></script>

	<!-- Library - Js -->
	<script src="assets/js/lib.js"></script>
	
	<!-- Library - Theme JS -->
	<script src="assets/js/functions.js"></script>
	
</body>
</html>